<strong>Nome</strong><br> <br>
{{name}} <br> <br>

<strong>E-mail</strong><br> <br>
{{email}} <br> <br>

<strong>Valor total da oferenda em R$</strong><br> <br>
R${{offering_value}}<br> <br>

<strong>Valor para Tsog</strong><br> <br>
{{value_for_tsogs}}<br> <br>

<strong>Valor para Substâncias</strong><br> <br>
{{value_for_substances}}<br> <br>

<strong>Valor para Lamparinas</strong><br> <br>
{{value_for_lamps}}<br> <br>

<strong>Dedicação</strong><br> <br>
{{dedication}}<br> <br>

<strong>Data do depósito</strong><br> <br>
{{deposit_date}}<br> <br>

<strong>Observações</strong><br> <br>
{{observations}}<br> <br>