<strong>Nome</strong><br> <br>
{{name}} <br> <br>

<strong>E-mail</strong><br> <br>
{{email}} <br> <br>

<strong>Valor total da oferenda em R$</strong><br> <br>
{{offering_value}}<br> <br>

<strong>Tsog de Tara na lua crescente</strong><br> <br>
{{crescent_moon_tara_tsog}}<br> <br>

<strong>Tsog de Guru</strong><br> <br>
{{guru_tsog}}<br> <br>

<strong>Tsog de Tara na lua minguante</strong><br> <br>
{{waning_moon_tara_tsog}}<br> <br>

<strong>Tsog de Dakini</strong><br> <br>
{{dakini_tsog}}<br> <br>

<strong>Riwo Sangchö</strong><br> <br>
{{riwo_sangcho}}<br> <br>

<strong>Atividades gerais do Templo</strong><br> <br>
{{general_temple_activities}}<br> <br>

<strong>Lamparinas (R$ 3 cada) - quantas, e quantas por dia?</strong><br> <br>
{{lamps}}<br> <br>

<strong>Bandeiras de oração (R$ 15 cada)</strong><br> <br>
{{prayer_flags}}<br> <br>

<strong>Dedicação</strong><br> <br>
{{dedication}}<br> <br>

<strong>Pagamento - valor do depósito</strong><br> <br>
{{deposit_date}}<br> <br>

<strong>Data do depósito</strong><br> <br>
{{deposit_value}}<br> <br>