{% extends 'khadro_ling/base.html' %}
{% load static %}

{% block head %}
<title>Oferendas | Khadro Ling</title>
{% endblock %}

{% block body %}
<div class="bannerSobre pt-5" style="background-image: url({% static 'institution/images/banner_red.jpg' %})">
  <div class="container">
    <div class="logo row justify-content-center">
      <div class="col-md-12 col-sm-12 mt-5 pt-1 text-center">

        <h1 class="mb-5 titulo text-white">Oferendas</h1>
      </div>
    </div>
  </div>
</div>

<main>
  {% if mail_sended %}
  <p class="successMessage">Sua oferenda foi enviada.</p>
  {% endif %}
  <div class="sobre">
    <div class="container">
      <div class=" row justify-content-center mb-5">
        <div class="col-md-10 col-sm-12 text-justify">
          <p>Fazer oferendas é uma maneira de cultivar as qualidades de generosidade 
            que gera contentamento, bem-estar, abundância e um caminho profundamente 
            transformador. Cada uma das oferendas realizadas no Khadro Ling é acompanhada 
            de uma prática de meditação especial que a incrementa.</p>
        </div>
        </div>

      <div id="oferendas" class="row">  
          <div class="mb-5 col-md-10 offset-md-1 offset-sm-0 col-sm-12 justify-content-center">
            <nav>
              <div class="nav nav-tabs justify-content-center" id="nav-tab" role="tablist">
                <a class="nav-item navOferendas nav-link active" id="nav-contact-tab" data-toggle="tab" href="#nav-tsog" role="tab" aria-controls="nav-contact" aria-selected="true">Tsog</a>
                <a class="nav-item navOferendas nav-link" id="nav-profile-tab" data-toggle="tab" href="#nav-lamparinas" role="tab" aria-controls="nav-profile" aria-selected="false">Lamparinas</a>
                <a class="nav-item navOferendas nav-link" id="nav-contact-tab" data-toggle="tab" href="#nav-riwo" role="tab" aria-controls="nav-contact" aria-selected="false">Riwo Sangtchö</a>
                <a class="nav-item navOferendas nav-link" id="nav-contact-tab" data-toggle="tab" href="#nav-bandeiras" role="tab" aria-controls="nav-contact" aria-selected="false">Bandeiras</a>
                <a class="nav-item navOferendas nav-link" id="nav-contact-tab" data-toggle="tab" href="#nav-akshobia" role="tab" aria-controls="nav-contact" aria-selected="false">Akshobia</a>
                <a class="nav-item navOferendas nav-link" id="nav-contact-tab" data-toggle="tab" href="#nav-cerimoniais" role="tab" aria-controls="nav-contact" aria-selected="false">Cerimoniais</a>
                <a class="nav-item navOferendas nav-link" id="nav-contact-tab" data-toggle="tab" href="#nav-doacoes" role="tab" aria-controls="nav-contact" aria-selected="false">Doações</a>



              </div>
            </nav>
            <div class="tab-content oferendaTab" id="nav-tabContent">

              <!-- TSOG -->

              <div class="tab-pane fade show active" id="nav-tsog" role="tabpanel" aria-labelledby="nav-home-tab">
                <div class="row">
                  <div class="col-md-4 col-sm-12 my-5">
                    <img class="imgOferenda" src="{% static 'khadro_ling/images/Tsog.jpeg' %}">
                  </div>
                  <div class="my-5 col-md-8 col-sm-12 justify-content-center">
                    <h4 class="titulo"> Oferenda de Tsog </h4>
                    <b class="mb-2"></b>

                    <div class="mt-3"> 
                      <p>
                        O tsog é uma elaborada cerimônia do Budismo Tibetano que utiliza alimentos e bebidas 
                        de diferentes sabores como objeto de meditação e purificação. Você pode participar 
                        fazendo uma oferenda em dinheiro para o tsog.
                      </p>

                      <p>Você pode oferecer qualquer valor. Sua oferenda será feita após a confirmação 
                        do depósito.
                      </p>

                      <h5 class="text-dark"><strong>Atenção</strong></h5>
                      <p><strong>As oferendas são reunidas sempre às 14h do dia que antecede a 
                        data do Tsog para que possam ser organizadas e lidas na respectiva data. 
                        Após este horário, a oferenda será lida no próximo Tsog conforme o 
                        calendário do Khadro Ling.</strong>
                      </p>

                    </div>
                  </div>
                </div>
              </div>

              <!-- LAMPS -->

              <div class="tab-pane fade" id="nav-lamparinas" role="tabpanel" aria-labelledby="nav-profile-tab">
                <div class="row">
                  <div class="col-md-4 col-sm-12 my-5">
                    <img class="imgOferenda" src="{% static 'khadro_ling/images/lamparina.jpg' %}">
                  </div>
                  <div class="my-5 col-md-8 col-sm-12 justify-content-center">
                    <h4 class="titulo"> Oferenda de Lamparinas </h4>
                    <b class="mb-2"></b>

                    <div class="mt-3"> 
                      <p>
                        Centenas de lamparinas são acesas todos os dias no Khadro Ling como uma oferenda 
                        de luz para dispersar obstáculos de todos os seres.
                      </p>

                      <p>Você pode participar dessa oferenda diária e inclusive dedicar um determinado número de 
                        lamparinas em benefício a você, sua família ou qualquer outra pessoa que esteja passando por 
                        dificuldades ou que precise de bênçãos. Faça suas oferendas pelo formulário abaixo.
                        O preço para cada lamparina é de R$ 3,00.
                      </p>

                      <h5 class="text-dark"><strong>Atenção</strong></h5>
                      <p><strong>As oferendas de lamparinas são reunidas sempre às 14h de cada 
                        dia para que possam ser organizadas e lidas no momento do acendimento 
                        no dia seguinte. Após este horário, a oferenda será realizada no próximo dia.</strong>
                      </p>

                    </div>
                  </div>
                </div>
              </div>

              <!-- RIWO SANGCHÖ -->

              <div class="tab-pane fade" id="nav-riwo" role="tabpanel" aria-labelledby="nav-contact-tab">
                <div class="row">
                  <div class="col-md-6 col-sm-12 my-5">
                    <img class="imgOferenda2" src="{% static 'khadro_ling/images/riwo.jpg' %}">
                  </div>
                  <div class="mt-5 col-md-6 col-sm-12 justify-content-center">
                    <h4 class="titulo"> Oferenda de Riwo Sangtchö </h4>
                    <b class="mb-2"></b>

                    <div class="mt-3"> 
                      <p>
                        Riwo Sangtchö (em tibetano, “Oferenda Queimada para Purificação 
                        na Encosta da Montanha”) é realizado diariamente no Khadro Ling
                      </p>

                      <p>É uma prática muito poderosa para repelir obstáculos e negatividades. 
                        Particularmente, os obstáculos ao nosso caminho espiritual. No Khadro Ling, 
                        são queimados galhos de cipreste e uma grande quantidade de substâncias, 
                        como alimentos e tecidos.
                      </p>

                      <p>A prática de Riwo Sangtchö feita no Khadro Ling é uma instrução de transmissão 
                        direta do ciclo terma Rigdzin Sogdrub (“Realização da Força Vital dos Detentores 
                        do Estado Desperto”). Foi revelada pelo Terton Lhatsun Nankha Jigmed (imagem ao lado). 
                        Ele nasceu em 1597, em Jaryul, no sul do Tibete e era, ao mesmo tempo, uma reencarnação 
                        de Vimalamitra e do onisciente Longchenpa. Esta prática de linhagem ininterrupta foi 
                        transmitida a Chagdud Rinpoche.
                      </p>

                      <p>Dzongsar Khyentse Rinpoche enfatizou que, nos tempos de degenerescência atuais, 
                        é absolutamente importante e benéfico acumular o Louvor às 21 Taras e a prática de 
                        Riwo Sangtchö.
                      </p>
                    </div>
                  </div>
                  <div>
                    <p>Esta contém todos os aspectos do caminho budista ― quanto à disciplina, 
                      é Hinayana; quanto à motivação, é Mahayana; e, no que diz respeito à Guru Yoga, é Vajrayana.
                    </p>

                    <p>A prática de Riwo Sangtchö também pode ser feita em casa — de uma forma igualmente 
                      poderosa —, queimando apenas incensos. No Khadro Ling, é praticada de forma 
                      elaborada, todas as manhãs, na Terra Pura de Padmasambava, entre 10h30min e 12h. 
                      Durante eventos, começa às 7h45min.
                    </p>

                    <p>Você pode oferecer qualquer valor. Sua oferenda será feita após a confirmação 
                      do depósito.
                    </p>

                    <h5 class="text-dark"><strong>Atenção</strong></h5>
                    <p>
                      <strong>As oferendas são reunidas sempre às 14h do dia que antecede a 
                      data do Tsog para que possam ser organizadas e lidas na respectiva data. 
                      Após este horário, a oferenda será lida no próximo Tsog conforme o 
                      calendário do Khadro Ling.</strong>
                    </p>
                  </div>
                </div>
              </div>

              <!-- BANDEIRAS -->

              <div class="tab-pane fade" id="nav-bandeiras" role="tabpanel" aria-labelledby="nav-contact-tab">
                <div class="row">
                  <div class="col-md-4 col-sm-12 my-5">
                    <img class="imgOferenda" src="{% static 'khadro_ling/images/bandeira.jpg' %}">
                  </div>
                  <div class="mt-5 col-md-8 col-sm-12 justify-content-center">
                    <h4 class="titulo"> Oferenda de Bandeiras de Oração </h4>
                    <b class="mb-2"></b>
                    
                    <div class="mt-3"> 
                      <p>
                        As novas bandeiras de oração no Templo Budista <br>
                          Três Coroas – RS
                      </p>

                      <p>
                        Ao longo dos séculos, bandeiras de oração coloridas tremularam sobre as 
                        montanhas e monastérios do Tibete e nos Himalaias, com o vento soprando 
                        seus mantras e desejos auspiciosos para o mundo inteiro. Nossas bandeiras, 
                        no Templo Budista Chagdud Gonpa Khadro Ling, são especificamente impressas 
                        com o mantra da longevidade de Amitayus, o Buda que protege da morte 
                        extemporânea e da doença, e aumenta a prosperidade e o bem-estar. 
                        Neste ano, foram utilizadas cinco cores na mandala (um arranjo sagrado) 
                        das bandeiras de oração. Neste contexto, as cores têm as seguintes representações:
                      </p>

                      <p>
                        <i class="fa fa-flag text-primary" aria-hidden="true"></i> 
                        A cor azul representa o elemento água e a atividade da paz.
                      </p>
                      <p>
                        <i class="fa fa-flag text-warning" aria-hidden="true"></i> 
                        A cor amarela representa o elemento terra e a atividade de incrementar todas as qualidades positivas.
                      </p>
                      <p>
                        <i class="fa fa-flag text-danger" aria-hidden="true"></i> 
                        A cor vermelha representa o elemento fogo e a atividade de magnetização por meio do amor e da compaixão.
                      </p>
                      <p>
                        <i class="fa fa-flag text-sucess" aria-hidden="true"></i> 
                        A cor verde representa o elemento vento e a atividade de subjugar a negatividade.
                      </p>
                      <p> <i class="fa fa-flag text-light" aria-hidden="true"></i>
                        A cor branca, do estandarte da vitória localizado no alto das bandeiras, representa o elemento espaço 
                        e a atividade iluminada.
                      </p>

                    </div>
                  </div>
                  <div>
                    <p>
                      As bandeiras são patrocinadas pelos visitantes do Templo Budista. 
                      Os patrocinadores escrevem dedicações pessoais e aspirações, que são 
                      lidas em voz alta quando as bandeiras novas substituem as 
                      antigas, que ficaram rasgadas e desvanecidas ao terem enviado seus mantras com o vento.
                    </p>

                    <p>
                      Toda vez que um conjunto específico de bandeiras é adquirido por um visitante ou 
                      praticante na loja Dakini Arts, em Três Coroas, uma parte do valor da compra é 
                      destinada às bandeiras da mandala que fica no Templo Budista. Desta forma, 
                      gera-se uma interdependência expansível de auspiciosidade.
                    </p>

                    <p>Que todos os seres possam se beneficiar!</p>
                  </div>
                </div>    
              </div>

              <!-- AKSHOBIA -->

              <div class="tab-pane fade" id="nav-akshobia" role="tabpanel" aria-labelledby="nav-contact-tab">
                <div class="row">
                  <div class="col-md-4 col-sm-12 my-5">
                    <img class="imgOferenda2" src="{% static 'khadro_ling/images/akshobia.jpg' %}">
                  </div>
                  <div class="mt-5 col-md-8 col-sm-12 justify-content-center">
                    <h4 class="titulo"> Prática do Buda Akshobia </h4>
                    <b class="mb-2"></b>
                    
                    <div class="mt-3"> 
                      <p>
                        Às vezes experienciamos um grande desespero quando contemplamos o sofrimento 
                        e a violência que surgem da raiva, do ódio, da confusão e do medo. 
                        Ansiamos purificar nossas negatividades e libertar os nossos entes 
                        queridos de circunstâncias negativas. O Buda Akshobia estabeleceu a 
                        intenção de que os seres sencientes pudessem purificar até mesmo 
                        desvirtudes extremas e escapar das terríveis circunstâncias advindas 
                        de fazer mal aos outros e de tirar a própria vida.
                      </p>

                      <div class="accordion" id="accordionExample2">
                        <div class="card">
                          <div class="card-header" id="headingOne">
                            <h2 class="mb-0">
                              <button class="btn btn-link btn-block text-left text-black-50 type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
                                A intenção do Buda Akshobia
                              </button>
                            </h2>
                          </div>

                          <div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#accordionExample2">
                            <div class="card-body">
                              <p>
                                A maioria de nós já matou algum ser ou tirou a própria vida, se não nesta vida presente, 
                                em vidas anteriores. O carma que se segue a esse ato envolve doenças, acidentes, 
                                violência e morte extemporânea. Ao sabermos que alguém teve uma morte extemporânea 
                                ou não auspiciosa, podemos interromper o carma negativo por meio da prática de Akshobia.
                              </p>
                              <p>
                                Os ensinamentos budistas indicam que a morte antes do nascimento 
                                (por aborto espontâneo ou induzido), a morte durante a juventude, mortes 
                                violentas ou amedrontadoras e suicídio são sinais de que a pessoa que morreu 
                                terá dificuldade em obter um renascimento afortunado e bem-dotado espiritualmente.
                              </p>
                              <p>
                                Para aliviar tais circunstâncias, Akshobia prometeu que quem criasse mérito, 
                                recitando cem mil vezes o seu mantra longo e patrocinando uma imagem sagrada 
                                dele, seria libertado dos estados inferiores de existência e encontraria 
                                liberação em um renascimento afortunado. Essa intenção de Akshobia é 
                                válida até mesmo para aqueles que já morreram há muito tempo.
                              </p>
                            </div>
                          </div>
                        </div>
                      <div class="card">
                        <div class="card-header" id="headingTwo">
                          <h2 class="mb-0">
                            <button class="btn btn-link btn-block text-left text-black-50 collapsed" type="button" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                              Quando fazer/patrocinar a prática
                            </button>
                          </h2>
                        </div>
                        <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample2">
                          <div class="card-body">
                            <p>
                              Praticantes podem fazer a meditação e os rituais de purificação de 
                              Akshobia para si mesmos e para os outros.
                            </p>

                            <p>
                              Para praticar para os outros, seguimos os passos da liturgia de Akshobia e, 
                              na conclusão, dedicamos o mérito para eles.
                            </p>

                            <p>
                              As pessoas também patrocinam Akshobia para seus animais de estimação 
                              ou para animais que mataram ao dirigir ou em outras circunstâncias. 
                              Os animais podem encontrar liberação do sofrimento do reino animal 
                              por meio da prática de Akshobia.
                            </p>

                            <p>
                              Devido à extensão do mantra de Akshobia e ao longo tempo que pode ser 
                              necessário para completar as 100 mil recitações, muitos praticantes 
                              patrocinam a recitação em seu próprio benefício ou das pessoas 
                              que tenham em mente.
                            </p>
                          </div>
                        </div>
                      </div>
                      <div class="card">
                        <div class="card-header" id="headingThree">
                          <h2 class="mb-0">
                            <button class="btn btn-link btn-block text-left text-black-50 collapsed" type="button" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                              Como funciona
                            </button>
                          </h2>
                        </div>
                        <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordionExample2">
                          <div class="card-body">
                            <p>O que está incluído quando se patrocina a prática de Akshobia? </p>

                            <p>
                              m praticante vai dedicar um tempo exclusivo para acumular o mantra. 
                              O patrocínio vai cobrir as despesas mínimas desse praticante durante 
                              esse período. Apesar de o patrocínio ser solicitado no Brasil, a 
                              recitação pode ser realizada no país ou no Tibete.
                            </p>

                            <p>
                              Você vai patrocinar a criação de uma imagem de Akshobia, 
                              na forma de uma tsa-tsa, que será fixada nas dependências do Khadro Ling.
                            </p>

                            <p>
                              Tsa-tsa é um azulejo de cerâmica com a imagem de Akshobia em alto-relevo. 
                              Um artista butanês criou o molde da tsa-tsa, que foi reproduzida em uma 
                              bela cor azul. Chagdud Rinpoche instruiu que essas tsa-tsas deveriam 
                              ser instaladas atrás do trono da estátua de Buda Akshobia, no Khadro Ling. 
                              A renda obtida com os azulejos também contribui para a manutenção da 
                              estátua e dos jardins.
                            </p>
                          </div>
                        </div>
                      </div>
                      <div class="card">
                        <div class="card-header" id="headingFour">
                          <h2 class="mb-0">
                            <button class="btn btn-link btn-block text-left text-black-50 collapsed" type="button" data-toggle="collapse" data-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
                              Como a prática chegou ao Brasil
                            </button>
                          </h2>
                        </div>
                        <div id="collapseFour" class="collapse" aria-labelledby="headingFour" data-parent="#accordionExample2">
                          <div class="card-body">
                            <p>
                              S.Ema. Chagdud Tulku Rinpoche estabeleceu a prática de Akshobia no Brasil 
                              ao criar uma estátua de grandes dimensões do Buda, no Khadro Ling. 
                              Hoje, a estátua encontra-se emoldurada por um belo jardim. Rinpoche 
                              também patrocinou pessoalmente uma imensa roda de oração com o mantra 
                              de Akshobia. Além disso, um dos eventos mais inspiradores do Khadro Ling 
                              é o retiro anual da prática de Akshobia, orientado por uma praticante 
                              que se dedica à esta prática em tempo integral há muitos anos.
                            </p>
                          </div>
                        </div>
                      </div>
                      <div class="card">
                        <div class="card-header" id="headingFive">
                          <h2 class="mb-0">
                            <button class="btn btn-link btn-block text-left text-black-50 collapsed" type="button" data-toggle="collapse" data-target="#collapseFive" aria-expanded="false" aria-controls="collapseFive">
                              Patrocínio no Tibet
                            </button>
                          </h2>
                        </div>
                        <div id="collapseFive" class="collapse" aria-labelledby="headingFive" data-parent="#accordionExample2">
                          <div class="card-body">
                            <p>
                              Para patrocinar a prática de Akshobia no Tibete, 
                              faça um pagamento por meio de cartão de crédito por meio 
                              da Fundação Mahakaruna (website disponível somente em inglês).
                            </p>
                          </div>
                        </div>
                      </div>
                    </div>                    
                  </div>
                </div>
                  <div>
                    <p>O Senhor Buda disse:</p>
                    <p>
                      <i>"Certa vez, o Bodisatva Akshobia fez este voto: ‘Mesmo que o espaço vazio 
                      mude, não renunciarei os meus grandes votos.’… Ao vestir a armadura da 
                      diligência, o bodistava Akshobia não tinha igual entre os inúmeros milhares 
                      de Bodisatvas… Através de seus votos firmes, o Bodisatva Akshobia chegou à 
                      iluminação suprema.”</i>
                    </p>
                    <p>
                      Você pode oferecer qualquer valor. Sua oferenda será feita após a confirmação 
                      do depósito.
                    </p>
                  </div>
                </div>
              </div>

              <!-- CERIMONIALS -->

              <div class="tab-pane fade" id="nav-cerimoniais" role="tabpanel" aria-labelledby="nav-contact-tab">
                <div class="row">
                  <div class="col-md-4 col-sm-12 my-5">
                    <img class="imgOferenda" src="{% static 'khadro_ling/images/cerimoniais.jpg' %}">
                  </div>
                  <div class="mt-5 col-md-8 col-sm-12 justify-content-center">
                    <h4 class="titulo"> Oferendas Cerimoniais </h4>
                    <b class="mb-2"></b>

                    <div class="mt-3"> 
                      <p>Você pode oferecer qualquer valor. Sua oferenda será feita após a confirmação 
                        do depósito.</p>
  
                      <h5 class="text-dark"><strong>Atenção</strong></h5>
                      <p>
                        <strong>As oferendas são reunidas sempre às 14h do dia que antecede a 
                        data do Tsog para que possam ser organizadas e lidas na respectiva data. 
                        Após este horário, a oferenda será lida no próximo Tsog conforme o 
                        calendário do Khadro Ling.</strong>
                      </p>
                    </div>
                  </div>
                </div>
              </div>

              <!-- DONATIONS -->

              <div class="tab-pane fade" id="nav-doacoes" role="tabpanel" aria-labelledby="nav-contact-tab">
                <div class="row">
                  <div class="col-md-4 col-sm-12 my-5">
                    <img class="imgOferenda" src="{% static 'khadro_ling/images/doacoes.jpg' %}">
                  </div>
                  <div class="mt-5 col-md-8 col-sm-12 justify-content-center">
                    <h4 class="titulo"> Doações </h4>
                    <b class="mb-2"></b>

                    <div class="mt-3"> 
                      <p>
                        Você pode oferecer qualquer valor. Sua oferenda será feita após a confirmação 
                        do depósito.
                      </p>
  
                      <h5 class="text-dark"><strong>Atenção</strong></h5>
                      <p>
                        <strong>As oferendas são reunidas sempre às 14h do dia que antecede a 
                        data do Tsog para que possam ser organizadas e lidas na respectiva data. 
                        Após este horário, a oferenda será lida no próximo Tsog conforme o 
                        calendário do Khadro Ling.</strong>
                      </p>
                    </div>
                  </div>
                <div>

              </div>
            </div>
          </div>

          <!-- GENERAL FORM -->

          <div class="card-body py-5">
            <form action="/khadroling/oferendas/" method="post" enctype="multipart/form-data">
              {% csrf_token %}
              <div class="form-group">
                <label for="nome">Nome</label>
                {{ form.name }}
              </div>
              <div class="form-group">
                <label for="email">Email</label>
                {{ form.email }}
              </div>
              <div class="form-group">
                <label for="valor">Valor da oferenda em R$</label>
                {{ form.offering_value }}
              </div>
              <h5 class="mt-5"><strong>Destino da oferenda</strong></h5>
              <hr>
              <p>
                Preencha o valor de cada oferenda. <br>
                Se você não quiser oferecer um determinado item, é só deixá-lo em branco.
              </p>

              <div class="form-group">
                <label for="crescent_moon_tara_tsog">Tsog de Tara na lua crescente</label>
                {{ form.crescent_moon_tara_tsog }}
              </div>

              <div class="form-group">
                <label for="guru_tsog">Tsog de Guru</label>
                {{ form.guru_tsog }}
              </div>

              <div class="form-group">
                <label for="waning_moon_tara_tsog">Tsog de Tara na lua minguante</label>
                {{ form.waning_moon_tara_tsog }}
              </div>

              <div class="form-group">
                <label for="dakini_tsog">Tsog de Dakini</label>
                {{ form.dakini_tsog }}
              </div>

              <div class="form-group">
                <label for="riwo_sangcho">Riwo Sangtchö</label>
                {{ form.riwo_sangcho }}
              </div>

              <div class="form-group">
                <label for="general_temple_activities">Atividades gerais do Templo</label>
                {{ form.general_temple_activities }}
              </div>

              <div class="form-group">
                <label for="lamps">Lamparinas (R$ 3 cada) - quantas, e quantas por dia?</label>
                {{ form.lamps }}
              </div>

              <div class="form-group">
                <label for="prayer_flags">Bandeiras de oração (R$ 15 cada)</label>
                {{ form.prayer_flags }}
              </div>

              <div class="form-group">
                <label for="dedicacao">Dedicação</label>
                {{ form.dedication }}
              </div>

              <h5 class="mt-5"><strong>Dados para depósito</strong></h5>
              <hr>
              <p>
                Banco do Brasil<br>
                Titular: Chagdud Gonpa Brasil<br>
                CNPJ: 00.990.708/0001-37<br>
                Agência: 1380-3<br>
                Conta: 3583-1<br>
                Chave PIX: oferendas@templobudista.org
              </p>

              <div class="form-group">
                <label for="data">Valor do Depósito</label>
                {{ form.deposit_value }}
              </div>

              <div class="form-group">
                <label for="data">Data do Depósito</label>
                {{ form.deposit_date }}
              </div>

              <div class="form-group mt-5">
                <label for="comprovante">Envie o comprovante</label>
                {{ form.deposit_receipt }}
              </div>
              <button name='general-form' type="submit" class="btn btn-primary mt-3">Enviar</button>
            </form>
          </div>     
        </div>
      </div>
    </div>
  </div>
</main>
{% endblock %}
