{% extends 'khadro_ling/base.html' %}
{% load static i18n event_extras %}

{% block head %}
<title>Eventos | Khadro Ling</title>
{% endblock %}

{% block body %}
<div class="bannerSobre pt-5" style="background-image:url({% static 'institution/images/banner_green.jpg' %})">
  <div class="container">
    <div class="logo row justify-content-center">
      <div class="col-md-12 col-sm-12 mt-5 pt-1 text-center">

        <h1 class="mb-5 titulo text-white">Eventos</h1>
      </div>
    </div>
  </div>
</div>

<main>
  <div class="sobre">
    <div class="container">
      
      {% if not event_list %}
        <div >
          <h2 class="text-center no-event">{% trans 'event-list.no-event' %}</h2>
        </div>
      {% endif %}

      <div id="eventos" class="row">
        <div class="row align-items-center">
          {% for event in event_list %}
          {% if forloop.first %}
              <div class="mb-5 col-md-5 offset-md-1 offset-md-0 col-sm-12 justify-content-center">
                <h3 class="titulo">{% get_event_name_by_language event user_language %}</h3>
              <b class="mb-2"></b>
              <p class="legenda text-black-50">
                De {{ event.start_date.day }}/{{ event.start_date.month }}/{{ event.start_date.year }} 
                até {{ event.end_date.day }}/{{ event.end_date.month }}/{{ event.end_date.year }} 
              </p>
              <span>
                {% get_event_short_description_by_language event user_language %}
              </span>
              <span class="d-block mt-3"><a class="link" href="{% url 'event:event-detail' event.pk %}">Saiba mais</a></span>
              </div>
              <div class="col-md-5 col-sm-12 d-flex mb-5">
                <img class="rounded " src="{{ event.event_image.url }}" width="500px" height="500px">
              </div>
    
              <div class="col-md-8 col-sm-4 offset-md-2 border-bottom my-5"></div>
            {% else %}
              <div class="d-flex flex-wrap mb-5 col-md-4 offset-md-2 col-sm-12 justify-content-center">
                <div class="data col-md-2 mb-2">
                  <p class="diaData">{{ event.start_date.day }}</p>
                  <p class="mesData">abr</p>
                </div>
                <div class="nomeEvento col-10">
                <h4 class="titulo">{% get_event_name_by_language event user_language %}</h4>
              <b class="mb-2"></b>
                </div>
                <div class="ml-4"> 
                <span>
                  {% get_event_short_description_by_language event user_language %}
                </span>
                <span class="d-block mt-2"><a class="link" href="{% url 'event:event-detail' event.pk %}">Saiba mais</a></span>
                </div>
              </div>
              <div class="col-md-4 col-sm-12 d-flex mb-5">
                <img class="rounded" src="{{ event.event_image.url }}" width="300px" height="300px">
              </div>
            {% endif %}
          {% endfor %}

        </div>
      </div>
  </div>
  </div>
  </div>
</main>

{% endblock %}