{% extends 'institution/base.html' %}
{% load static i18n %}

{% block head %}
<link href="{% static 'institution/css/style-chagdud.css' %}" rel="stylesheet">
<title>{% trans 'institution.about-us.title' %} | {% trans 'institution.about-us.chagdud-gonpa-brazil.title' %}</title>
{% endblock %}

{% block body %}  
<div class="banner pt-5" style="background-image: url({% static 'institution/images/banner_blue.jpg' %});">
  <div class="container">
    <div class="logo row justify-content-center">
      <div class="col-md-12 col-sm-12 mt-5 pt-2 text-center">
        <h1 class="mb-5 text titulo">{% trans 'institution.about-us.title' %}</h1>
      </div>
    </div>
  </div>
</div>

<main>
  <div class="sobre">
    <div class="container">
      <div id="sobreNos" class="row justify-content-center">
        <div class="col-md-8 col-sm-12 text-justify">

          <div class="mt-5 mb-4">
            <h3 class="titulo"> {% trans 'institution.about-us.chagdud-gonpa-brazil.title' %} </h3>
            <b></b>
          </div>
            <p>{% trans 'institution.about-us.chagdud-gonpa-brazil.p1' %}</p>
              <p>{% trans 'institution.about-us.chagdud-gonpa-brazil.p2' %}</p>
                <div class="mt-5 mb-4">
                  <h3 class="titulo"> {% trans 'institution.about-us.chagdud-gonpa-hispano-america.title' %} </h3>
                  <b></b>
                </div>
                <p>{% trans 'institution.about-us.chagdud-gonpa-hispano-america.p1' %}</p>

                <p>{% trans 'institution.about-us.chagdud-gonpa-hispano-america.p2' %}</p>
         
                <p>{% trans 'institution.about-us.chagdud-gonpa-hispano-america.p3' %}</p>
                  
                  <div class="mt-5 mb-5">
                    <img class="imagensSobre" src="{% static 'institution/images/SengueDzong.png' %}" width="100%;">
                    <p class="legenda">{% trans 'institution.about-us.chagdud-gonpa-hispano-america.image-description' %}<p>
                  </div>

                  <p>{% trans 'institution.about-us.chagdud-gonpa-hispano-america.p4' %}</p>


                    <div class="mt-5 mb-4">
                      <h3 class="titulo"> {% trans 'institution.about-us.chagdud-gonpa-foundation.title' %} </h3>
                      <b></b>
                    </div>

                    <p>{% trans 'institution.about-us.chagdud-gonpa-foundation.p1' %}</p>

                    <p>{% trans 'institution.about-us.chagdud-gonpa-foundation.p2' %}</p>

                      <div class="mt-5 mb-5">
                        <img class="imagensSobre2" src="{% static 'institution/images/rigdzin_ling.jpg' %}" width="100%;">
                        <p class="legenda">{% trans 'institution.about-us.chagdud-gonpa-foundation.image-description' %} <p>
                      </div>

                      <p>{% trans 'institution.about-us.chagdud-gonpa-foundation.p3' %}</p>


                      <p>{% trans 'institution.about-us.chagdud-gonpa-foundation.p4' %} <a href="http://www.chagdudgonpa.org" target="_blank">www.chagdudgonpa.org</a>.</p>

                        <div class="mt-5 mb-4">
                          <h3 class="titulo"> {% trans 'institution.about-us.chagdud-gonpa-italy.title' %} </h3>
                          <b></b>
                        </div>

                      <p>{% trans 'institution.about-us.chagdud-gonpa-italy.p1' %}</p>
                      <p>{% trans 'institution.about-us.chagdud-gonpa-italy.p2' %} <a href="https://www.facebook.com/groups/178097485665187" target="_blank">Facebook</a>.</p>
        </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</main>
{% endblock %}