{% load static %}

<html>

<head>
  <link rel="shortcut icon" href="{% static 'institution/images/logo.ico' %}" type="image/x-icon" />
  <link href="{% static 'institution/css/style.css' %}" rel="stylesheet">
  <link href="{% static 'institution/css/style-chagdud.css' %}" rel="stylesheet">
  <meta charset=”utf-8”>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
  integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js" type="text/javascript"></script>
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Lato&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link href="https://fonts.googleapis.com/css2?family=EB+Garamond&family=Lato:wght@100&display=swap" rel="stylesheet">
  {% block head %}
  {% endblock %}
</head>

<body>
  <header>
    <div class="topMenu">
      <div class="container">
        <div class="row">
          <div class="col-12 d-flex flex-row-reverse">
            <ul class="nav text-white ml-4">
              <li class="nav-item">
                <a class="nav-link text-black-50" href="">|  Português</a>
              </li>
              <li class="nav-item">
                <a class="nav-link text-black-50" href="">|  English </a>
              </li>
              <li class="nav-item">
                <a class="nav-link text-black-50" href="">|  Español </a>
              </li>
            </ul>
            <ul class="nav text-white">
              <li class="nav-item">
                <a class="nav-link text-black-50" href="{% url 'khadroling:offerings' %}">Oferendas</a>
              </li>
              <li class="nav-item">
                <a class="nav-link text-black-50" href="{% url 'institution:downloads' %}">Downloads</a>
              </li>
              <li class="nav-item">
                <a class="nav-link text-black-50" href="{% url 'event:event-list' %}">Eventos</a>
              </li>
              <li class="nav-item">
                <a class="nav-link text-black-50" href="http://makara.com.br/" target="blank">Editora Makara</a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <div class="menu" id="menu">
      <div class="container">
        <div class="row align-items-center justify-content-between">
          <div class="col-md-4 col-sm-3">
            <ul class="nav d-flex flex-row text-white">
              <li class="nav-item ">
                <a class="nav-link text-black-50" href="{% url 'institution:about-us' %}">Quem somos</a>
              </li>
              <li class="nav-item">
                <a class="nav-link text-black-50" href="{% url 'institution:teachers' %}">Professores</a>
              </li>
            </ul>
          </div>
          <div class="d-flex flex-column justify-content-center text-center">
            <a href="{% url 'institution:home' %}"><img src="{% static 'institution/images/logoChagdud.jpg' %}" alt="Logo Chagdud Gonpa" width="100px"></a>
            <p class="titulo">Chagdud Gonpa América do Sul</p>
          </div>
          <div class="col-md-4 col-sm-5 d-flex flex-row-reverse pt-3">
            <ul class="nav text-white">
              <li class="nav-item">
                <div class="btn-group">
                  <button type="button" class="btn dropdown-toggle text-black-50 sede" data-toggle="dropdown"
                    aria-haspopup="true" aria-expanded="false">
                    Brasil
                  </button>
                  <ul class="dropdown-menu">
                    <div class="row pl-3 d-flex">
                      <li class="col">
                        <h5>Khadro Ling </h5>
                        <a class="dropdown-item" href="{% url 'khadroling:home' %}">Sede do Chagdud Gonpa Brasil<br> 
                          Três coroas - RS</a>
                        <br>
                        <h5>Centro-Oeste</h5>
                        <a class="dropdown-item" href="https://www.odsalling.org/" target="_blank">Padma Ling |
                          Brasília, DF</a>
                        <a class="dropdown-item" href="mailto:lidiogjr@gmail.com" target="_blank">Goiânia, GO</a>
                        <br>
                        <h5>Nordeste</h5>
                        <a class="dropdown-item" href="https://ieshe.wordpress.com/" target="_blank">Ieshe Tso | Natal,
                          RN</a>
                      </li>
                      <li class="col">
                        <h5>Sul</h5>
                        <a class="dropdown-item" href="http://yesheling.blogspot.com/" target="_blank">Yeshe Ling |
                          Porto Alegre, RS</a>
                        <a class="dropdown-item" href="https://pt-br.facebook.com/tchimedling/" target="_blank">Tchimed
                          Ling | Santa Maria, RS </a>
                        <a class="dropdown-item" href="https://www.facebook.com/budismocaxias/" target="_blank">Yeshe
                          Melong | Caxias do Sul, RS</a>
                        <a class="dropdown-item" href="https://www.facebook.com/meditacaofw/" target="_blank">Grupo de
                          Meditação | Frederico Westphalen, RS</a>
                        <a class="dropdown-item" href="http://www.rigdjed.org/" target="_blank">Rigdjed Ling |
                          Florianópops, SC</a>
                        <a class="dropdown-item" href="https://budismoemblumenau.wordpress.com/"
                          target="_blank">Blumenau, SC</a>
                        <a class="dropdown-item" href="https://www.facebook.com/budismocaxias/" target="_blank">Dordje
                          Ling | Curitiba, PR</a>
                        <a class="dropdown-item" href="mailto:treici_3cy@hotmail.com" target="_blank">Novo Hamburgo,
                          RS</a>
                      </li>
                      <li class="col">
                        <h5>Sudeste</h5>
                        <a class="dropdown-item" href="https://www.odsalling.org/" target="_blank">Odsal Ling | São
                          Paulo</a>
                        <a class="dropdown-item" href="#" target="_blank">Padma Amrita Ling | Ribeirão Preto, SP</a>
                        <a class="dropdown-item" href="https://dawadrolma.org/" target="_blank">Dawa Drolma | Belo
                          Horizonte, MG</a>
                        <a class="dropdown-item" href="https://www.facebook.com/sitio.esperanca.lambari/"
                          target="_blank">Ngoy Drub Ling | Lambari, MG</a>
                        <a class="dropdown-item" href="http://pedgyal.org/" target="_blank">Pedgyal Ling | Rio de
                          Janeiro, RJ</a>
                        <a class="dropdown-item" href="https://pt-br.facebook.com/dechenling.novafriburgo/"
                          target="_blank">Dechen Ling | Nova Friburgo, RJ</a>
                        <a class="dropdown-item" href="https://samdrubling.wordpress.com/" target="_blank">Sam Drub Ling
                          | Vitória, ES</a>
                        <br>
                          <h5>Norte</h5>
                        <a class="dropdown-item" href="https://pt-br.facebook.com/tromguephelling/" target="_blank">Trom
                          Gue Phel Ling | Manaus, AM</a>
                      </li>
                      
                    </div>
                  </ul>
                  </div>
              </li>
              <li class="nav-item">
                <a class="nav-link text-black-50 text-center" href="http://www.chagdudhispano.org/" target="_blank"> Hispanomérica</a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <div class="mobileMenu py-3">
      <nav class="menu-mobile">
        <ul>
          <li><a href="{% url 'institution:about-us' %}">Quem somos</a></li>
          <li><a href="{% url 'institution:teachers' %}">Professores</a></li>
          <li><a href="http://www.chagdudhispano.org/" target="blank">Hispanoamérica</a></li>
          <li>
            <div class="btn-group">
              <button type="button" class="btn dropdown-toggle text-black-50" data-toggle="dropdown" aria-haspopup="true"
                aria-expanded="false">
                Brasil
              </button>
              <ul class="dropdown-menu mobileDropdown">
                <div class="d-flex flex-column">
                  <li>
                    <h5>Khadro Ling </h5>
                        <div class="dropdown">
                            <a class="dropbtn dropdown-item">Sede do Chagdud Gonpa Brasil <br> 
                              Três coroas - RS</a>
                          <div class="dropdown-content">
                            <a class="text-black-50" href="{% url 'khadroling:home' %}" target="blank">Home</a>
                            <a class="text-black-50" href="{% url 'event:event-list' %}" target="blank">Eventos</a>
                            <a class="text-black-50" href="{% url 'khadroling:offerings' %}" target="blank">Oferendas</a>
                          </div>
                        </div>
                  </li>
                  <li>
                    <h5>Sul</h5>
                    <a class="dropdown-item" href="http://yesheling.blogspot.com/" target="_blank">Yeshe Ling | Porto
                      Alegre, RS</a>
                    <a class="dropdown-item" href="https://pt-br.facebook.com/tchimedling/" target="_blank">Tchimed Ling
                      |
                      Santa Maria, RS </a>
                    <a class="dropdown-item" href="https://www.facebook.com/budismocaxias/" target="_blank">Yeshe Melong
                      |
                      Caxias do Sul, RS</a>
                    <a class="dropdown-item" href="https://www.facebook.com/meditacaofw/" target="_blank">Grupo de
                      Meditação | Frederico Westphalen, RS</a>
                    <a class="dropdown-item" href="http://www.rigdjed.org/" target="_blank">Rigdjed Ling | Florianópops,
                      SC</a>
                    <a class="dropdown-item" href="https://budismoemblumenau.wordpress.com/" target="_blank">Blumenau,
                      SC</a>
                    <a class="dropdown-item" href="https://www.facebook.com/budismocaxias/" target="_blank">Dordje Ling
                      |
                      Curitiba, PR</a>
                    <a class="dropdown-item" href="mailto:treici_3cy@hotmail.com" target="_blank">Novo Hamburgo, RS</a>
                  </li>
                  <li>
                    <h5>Sudeste</h5>
                    <a class="dropdown-item" href="https://www.odsalling.org/" target="_blank">Odsal Ling | São
                      Paulo</a>
                    <a class="dropdown-item" href="#" target="_blank">Padma Amrita Ling | Ribeirão Preto, SP</a>
                    <a class="dropdown-item" href="https://dawadrolma.org/" target="_blank">Dawa Drolma | Belo
                      Horizonte,
                      MG</a>
                    <a class="dropdown-item" href="https://www.facebook.com/sitio.esperanca.lambari/"
                      target="_blank">Ngoy
                      Drub Ling | Lambari, MG</a>
                    <a class="dropdown-item" href="http://pedgyal.org/" target="_blank">Pedgyal Ling | Rio de Janeiro,
                      RJ</a>
                    <a class="dropdown-item" href="https://pt-br.facebook.com/dechenling.novafriburgo/"
                      target="_blank">Dechen Ling | Nova Friburgo, RJ</a>
                    <a class="dropdown-item" href="https://samdrubling.wordpress.com/" target="_blank">Sam Drub Ling |
                      Vitória, ES</a>
                  </li>
                  <li>
                    <h5>Centro-Oeste</h5>
                    <a class="dropdown-item" href="https://www.odsalling.org/" target="_blank">Padma Ling | Brasília,
                      DF</a>
                    <a class="dropdown-item" href="mailto:lidiogjr@gmail.com" target="_blank">Goiânia, GO</a>
                  </li>
                  <li>
                    <h5>Nordeste</h5>
                    <a class="dropdown-item" href="https://ieshe.wordpress.com/" target="_blank">Ieshe Tso | Natal,
                      RN</a>
                  </li>
                  <li>
                    <h5>Norte</h5>
                    <a class="dropdown-item" href="https://pt-br.facebook.com/tromguephelling/" target="_blank">Trom Gue
                      Phel Ling | Manaus, AM</a>
                  </li>
                </div>
              </ul>
      </nav>

      <span class="btn-menu">
        <span></span>
        <span></span>
        <span></span>
      </span>

      <a href="{% url 'institution:home' %}"><img  class="logoMobile" src="{% static 'institution/images/logoChagdud.jpg' %}" alt="Logo Chagdud Gonpa" width="80px"></a>
    </div>

  </header>

  {% block body %}
  {% endblock %}


  <footer class="bg-dark text-light text-center">
    <p class="midia my-4">
      <a href="https://apps.apple.com/us/app/eventos-chagdud-gonpa-brasil/id1213795008" target="_blank"><i
        class="fa fa-apple mr-2"></i></a>
      <a href="https://play.google.com/store/apps/details?id=hr.apps.n207192230" target="_blank"><i class="fa fa-android mr-2"></i></a>
      <a href="https://www.facebook.com/chagdud" target="_blank"><i class="fa fa-facebook-square mr-2"></i></a>
      <a href="https://www.instagram.com/khadro.ling/" target="_blank"><i class="fa fa-instagram mr-2" aria-hidden="true"></i></a>
      <a href="https://www.youtube.com/user/chagdudgonpa" target="_blank"><i class="fa fa-youtube-play mr-2" aria-hidden="true"></i></a>
      <a href="https://soundcloud.com/chagdudgonpa" target="_blank"><i class="fa fa-soundcloud mr-2" aria-hidden="true"></i></a>
      <a href="https://www.flickr.com/photos/chagdudgonpa/albums" target="_blank"><i class="fa fa-flickr mr-2"
          aria-hidden="true"></i></a>
    </p>
    <div class="col-12">
      <p>© 2020 Chagdud Gonpa Brasil / © 2020 Chagdud Gonpa Khadro Ling</p>
      <p>Contato: <a href="mailto:info@templobudista.org">E-mail</a> • Fone: (51) 3546-8201 </p>
      <p>Rua Arnaldo Port, 1211 - Cx. Postal 121, CEP 95660-000 - Três Coroas, RS</p>
    </div>
  </footer>

  <script>
    $('.btn-menu').on('click touchstart', function () {
      $('html').toggleClass('btn-menu-active');
    });
    window.onscroll = function () { myFunction() };

    var menu = document.getElementById("menu");
    var sticky = menu.offsetTop;

    function myFunction() {
      if (window.pageYOffset >= sticky) {
        menu.classList.add("sticky")
      } else {
        menu.classList.remove("sticky");
      }
    }
  </script>
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
    integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
    crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
    integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
    crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
    integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
    crossorigin="anonymous"></script>
</body>

</html>