{% extends 'institution/base.html' %}
{% load static %}

{% block head %}
<title>Chagdud Gonpa América do Sul</title>
{% endblock %}

{% block body %}
<div style="background-image:url({% static 'institution/images/banner_blue.jpg' %});">
  <div class="container" >
    <div id="inicio" class="logo justify-content-center align-items-center row justify-content-start">
      <div class="col-md-5 col-sm-12 text-center mt-2">
        <span class="subtitulo mb-5">Somos uma rede de centros de prática do budismo vajrayana fundada por
          S. Ema.
          Chagdud Tulku
          Rinpoche.</span>
      </div>
      <div class="col-md-5 col-sm-12 text-center mt-2">
        <img class="imgApres" src="{% static 'institution/images/CTR.jpeg' %}" width="80%">

      </div>
    </div>
  </div>
</div>




  <main>
    <div class="sobre">
      <div class="container">
        <div id="sobreNos" class="row justify-content-center">
          <div class="col-8 text-center">
            <h3 class="titulo">Sobre nós</h3>
            <div class="mt-4 mb-4">
              <span>O Chagdud Gonpa Brasil faz parte de uma rede internacional de centros cuja origem é o Chagdud
                Gonpa no Tibete, um monastério fundado no século XV. Estabelecidos em 1994 por S. Ema.
                Chagdud Tulku Rinpoche, os centros brasileiros oferecem ensinamentos e práticas de meditação
                da tradição Nyingma do Budismo Tibetano Vajraiana.</span>
            </div>
            <a class="link" href="{% url 'institution:about-us' %}">Conhecer mais</a>
          </div>
        </div>
      </div>
    </div>
    <div class="container">
      <div id="chagdud" class="row py-5">
        <div class="col-md-12 col-sm-12 d-flex justify-content-center align-items-center py-5">
          <b></b>
          <b></b>
        </div>

        <div class="d-flex flex-row-reverse align-items-center justify-content-center">
          <div class="col-md-4 col-sm-12">
            <img class="rounded fotoChagdud" src="{% static 'institution/images/khadro_mauria3.jpg' %}">

          </div>
          <div class="col-md-4 col-sm-12 justify-content-center text-center">
            <span>
              Chagdud Khadro, esposa do S. Ema. Chagdud Tulku
              Rinpoche, é a Diretora Espiritual dos seus centros na América do Sul.
            </span>
            <span class="d-block mt-3"><a class="link" href="{% url 'institution:teachers' %}">Conhecer mais professores</a></span>
          </div>
        </div>
      </div>
      <div id="khadro" class="row py-5">
        <div class="col-md-12 col-sm-12 d-flex justify-content-center align-items-center pt-5">
          <b></b>
          <h3 class="text-center titulo mr-3 ml-3"> Khadro Ling </h3>
          <b></b>
        </div>
        <div class="col-md-12 col-sm-12 d-flex justify-content-center align-items-center pb-5">
          <p class="text-center text-black-50"> Sede do Chagdud Gonpa Brasil </p>
        </div>

        <div class="d-flex flex-wrap align-items-center justify-content-center">
          <div class="col-md-4 col-sm-12 mt-3">
            <img class="rounded" src="{% static 'institution/images/ChagdudGonpa_KhadroLing.jpg' %}" width="100%">

          </div>
          <div class="col-md-4 col-sm-12 mt-3 text-center">
            <span>
              O Chagdud Gonpa Khadro Ling é a sede da Fundação Chagdud Gonpa Brasil e 
              está localizado na cidade de Três Coroas, no Rio Grande do Sul.
            </span>
            <span class="d-block mt-3"><a class="link" href="{% url 'khadroling:home' %}">Saber mais</a></span>
          </div>
        </div>
      </div>
      <div id="centros" class="row py-5">
        <div class="col-md-12 col-sm-12 d-flex justify-content-center align-items-center py-5">
          <b></b>
          <h3 class="text-center titulo mr-3 ml-3"> Filiais do Chagdud Gonpa Brasil  </h3>
          <b></b>
        </div>
        <div class="d-flex flex-wrap align-items-center">
          <div class="col-md-3 col-sm-12 offset-md-2 offset-sm-0 justify-content-center text-center">
            <span>
              Saiba onde encontrar uma das filiais do Chagdud Gonpa no Brasil.
            </span>
          </div>
          <div class="col-md-5 col-sm-12 d-flex">
            <div class="rowGrid align-items-center">
              <div class="colGrid1">
                <button type="button" class="imgCentros" data-toggle="modal" data-target=".bd-example-modal-lg1">
                  <img class="rounded" src="{% static 'institution/images/khadro.jpg' %}">
                </button>
              </div>
              <div class="modal fade bd-example-modal-lg1" tabindex="10" role="dialog"
                aria-labelledby="myLargeModalLabel" aria-hidden="true">
                <div class="modal-dialog modal-lg">
                  <div class="modal-content ">
                    <div class="modal-header">
                      <h5 class="modal-title" id="TituloModalLongoExemplo">Khadro Ling | Três Coroas, RS</h5>
                      <button type="button" class="close" data-dismiss="modal" aria-label="Fechar">
                        <span aria-hidden="true">&times;</span>
                      </button>
                    </div>
                    <div class="col-12">
                      <img class="rounded my-2" src="{% static 'institution/images/khadro.jpg' %}" width="100%">
                    </div>
                  </div>
                </div>
              </div>
              <div class="colGrid2">
                <button type="button" class="imgCentros" data-toggle="modal" data-target=".bd-example-modal-lg2">
                  <img class="rounded" src="{% static 'institution/images/saoPaulo.jpg' %}">
                </button>
                <div class="modal fade bd-example-modal-lg2" tabindex="10" role="dialog"
                  aria-labelledby="myLargeModalLabel" aria-hidden="true">
                  <div class="modal-dialog modal-lg">
                    <div class="modal-content ">
                      <div class="modal-header">
                        <h5 class="modal-title" id="TituloModalLongoExemplo">Centro Odsal Ling | São Paulo, SP</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Fechar">
                          <span aria-hidden="true">&times;</span>
                        </button>
                      </div>
                      <div class=" col-12">
                        <img class="rounded my-2" src="{% static 'institution/images/saoPaulo.jpg" width="100%">
                      </div>
                    </div>
                  </div>
                </div>
                <button type="button" class="imgCentros" data-toggle="modal" data-target=".bd-example-modal-lg3">
                  <img class="rounded" src="{% static 'institution/images/dawaDrolma.jpg' %}"> </button>
                  <div class="modal fade bd-example-modal-lg3" tabindex="10" role="dialog"
                  aria-labelledby="myLargeModalLabel" aria-hidden="true">
                  <div class="modal-dialog modal-lg">
                    <div class="modal-content ">
                      <div class="modal-header">
                        <h5 class="modal-title" id="TituloModalLongoExemplo">Centro Dawa Drolma | Belo Horizonte, MG</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Fechar">
                          <span aria-hidden="true">&times;</span>
                        </button>
                      </div>
                      <div class=" col-12">
                        <img class="rounded my-2" src="{% static 'institution/images/dawaDrolma.jpg' %}" width="100%">
                      </div>
                    </div>
                  </div>
                </div>
                <button type="button" class="imgCentros" data-toggle="modal" data-target=".bd-example-modal-lg4">
                  <img class="rounded" src="{% static 'institution/images/yeshe.jpg' %}"></button>
                <div class="modal fade bd-example-modal-lg4" tabindex="10" role="dialog"
                  aria-labelledby="myLargeModalLabel" aria-hidden="true">
                  <div class="modal-dialog modal-lg">
                    <div class="modal-content ">
                      <div class="modal-header">
                        <h5 class="modal-title" id="TituloModalLongoExemplo">Yeshe Ling | Porto Alegre, RS</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Fechar">
                          <span aria-hidden="true">&times;</span>
                        </button>
                      </div>
                      <div class=" col-12">
                        <img class="rounded my-2" src="{% static 'institution/images/yeshe.jpg' %}" width="100%">
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div id="chagdud" class="row py-5">
        <div class="col-md-12 col-sm-12 d-flex justify-content-center align-items-center py-5">
          <b></b>
          <h3 class="text-center titulo mr-3 ml-3"> Oferendas e Eventos  </h3>
          <b></b>
        </div>

        <div class="d-flex flex-row-reverse text-center justify-content-center">
          <div class="col-md-4 col-sm-12">
            <a class="linkOE" href="{% url 'khadroling:offerings' %}">
            <img class="rounded fotoChagdud" src="{% static 'khadro_ling/images/lamparina.jpg' %}">
            <span class="d-block mt-3">Oferendas</a></span>


          </div>
          <div class="col-md-4 col-sm-12 justify-content-center text-center">
            <a class="linkOE" href="{% url 'event:event-list' %}">
            <img class="rounded fotoChagdud" src="{% static 'institution/images/home-event.jpg' %}">
            <span class="d-block mt-3">Eventos</a></span>

          </div>
        </div>
      </div>      
    </div>
    {% if news_list_1 %}
    <div class="windHorse mt-5">
      <div class="container">
        <div class="row justify-content-center">
          <div class="col-md-8 col-sm-12 text-center">
            <h3 class="titulo mb-5 text-light">Notícias e Novidades </h3>
            <div class="row mt-5 justify-content-around">
              <div id="carouselExampleControls2" class="carouselOferendas carousel slide" data-ride="carousel">
                <div class="carousel-inner">
                  <div class="carousel-item active">
                    <div class="text-center">
                      <div class="card-deck">
                        {% for news in news_list_1 %}
                          <div class="card windCard mb-3" style="width: 15rem;">
                            <a class="link" href="{% url 'institution:news-detail' news.pk %}">
                              <img class="card-img-top news-images" src="{{ news.image.url }}" alt="Imagem de capa do card">
                            </a>
                            <div class="card-body">
                              <h5 class="card-title">{{ news.title }}</h5>
                              <p class="card-text"> {{ news.created_at }}</p>
                            </div>
                          </div>
                        {% endfor %}
                      </div>
                    </div>
                  </div>

                  <div class="carousel-item ">
                    <div class="text-center">
                      <div class="card-deck">

                        {% for news in news_list_2 %}
                          <div class="card windCard mb-3" style="width: 15rem;">
                            <a class="link" href="{% url 'institution:news-detail' news.pk %}">
                              <img class="card-img-top news-images" src="{{ news.image.url }}" alt="Imagem de capa do card">
                            </a>
                            <div class="card-body">
                              <h5 class="card-title">{{ news.title }}</h5>
                              <p class="card-text"> {{ news.created_at }}</p>
                            </div>
                          </div>
                        {% endfor %}

                      </div>
                    </div>

                  </div>

                  <a class="carousel-control-prev text-black-50" href="#carouselExampleControls2" role="button"
                    data-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="sr-only">Anterior</span>

                  </a>
                  <a class="carousel-control-next text-black-50" href="#carouselExampleControls2" role="button"
                    data-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="sr-only">Próximo</span>
                  </a>

                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="text-center">
        <a class="link-page" href="{% url 'institution:news-list' %}"> Ver todos</a>
      </div>
    </div>
    <div class="windHorseMobile mt-5">
      <div class="container">
        <div class="row justify-content-center">
          <div class="col-md-8 col-sm-12 text-center">
            <h3 class="titulo mb-5 text-light">Notícias e Novidades</h3>
            <span class="text-light ">Sessão de notícias e texto sobre as novidades sobre a instituição e o budismo
              em geral.
              Um texto explicando um pouco sobre o que é.</span>
            <div class="row mt-5 justify-content-around">
              <div id="carouselExampleControls2" class="carouselOferendas carousel slide" data-ride="carousel">
                <div class="carousel-inner">
                  <div class="carousel-item active">
                    <div class="text-center">
                      <div class="card-deck">
                        <div class="card windCard mb-3" style="width: 15rem;">
                          <img class="card-img-top news-images" src="{% static 'institution/images/yeshe.jpg' %}" alt="Imagem de capa do card">
                          <div class="card-body">
                            <h5 class="card-title">Parinirvana de S. Em. Chagdud Tulku Rinpoche</h5>
                            <p class="card-text"> 21.12.2019</p>
                            <a class="link" href="#">Ler mais</a>
                          </div>
                        </div>
                        </div>
                      </div>
                    </div>

                  <div class="carousel-item ">
                    <div class="text-center">
                        <div class="card windCard mb-3" style="width: 15rem;">
                          <img class="card-img-top news-images" src="{% static 'institution/images/saoPaulo.jpg' %}" alt="Imagem de capa do card">
                          <div class="card-body">
                            <h5 class="card-title">Construção do Jardim das 21 Taras</h5>
                            <p class="card-text"> 21.10.2018</p>
                            <a class="link" href="#">Ler mais</a>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="carousel-item ">
                      <div class="text-center">
                          <div class="card windCard mb-3" style="width: 15rem;">
                            <img class="card-img-top news-images" src="{% static 'institution/images/yeshe.jpg' %}" alt="Imagem de capa do card">
                            <div class="card-body">
                              <h5 class="card-title">Movendo textos sagrados</h5>
                              <p class="card-text"> 08.12.2019</p>
                              <a class="link" href="#">Ler mais</a>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>

                  </div>

                  <a class="carousel-control-prev text-black-50" href="#carouselExampleControls2" role="button"
                    data-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="sr-only">Anterior</span>

                  </a>
                  <a class="carousel-control-next text-black-50" href="#carouselExampleControls2" role="button"
                    data-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="sr-only">Próximo</span>
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    {% endif %}
    <div class="container">
      <div class="row icones mt-5 justify-content-around text-center">
        <div class="card align-items-center col-4">
          <a class="" href="{% url 'institution:downloads' %}">
            <img class="card-img-top rounded-circle border" src="{% static 'institution/images/icones-01.png' %}" alt="Imagem de capa do card">
            <div class="card-body text-center">
              <h5 class="card-title titulo">Downloads</h5>
            </div>
          </a>
        </div>

        <div class="card align-items-center col-4">
          <a class="" href="#">
            <img class="card-img-top rounded-circle border" src="{% static 'institution/images/icones-02.png' %}" alt="Imagem de capa do card">
            <div class="card-body text-center">
              <h5 class="card-title titulo">Datas Sagradas</h5>
            </div>
          </a>
        </div>

        <div class="card align-items-center col-4">
          <a class="" href="http://makara.com.br/">
            <img class="card-img-top rounded-circle border" src="{% static 'institution/images/icones-03.png' %}" alt="Imagem de capa do card">
            <div class="card-body text-center">
              <h5 class="card-title titulo">Editora Makara</h5>
            </div>
          </a>
        </div>
      </div>
    </div>
  </main>
{% endblock %}
