{% extends 'institution/base.html' %}
{% load static %}

{% block head %}
<link href="{% static 'institution/css/style-chagdud.css' %}" rel="stylesheet">
<title>Datas Sagradas| Chagdud Gonpa Brasil</title>
{% endblock %}
{% block body %}


<div class="banner pt-5" style="background-image:url({% static 'institution/images/banner_yellow.jpg' %});">
  <div class="container">
    <div class="logo row justify-content-center">
      <div class="col-md-12 col-sm-12 mt-5 pt-2 text-center">

        <h1 class="titulo text-white">{{ sacred_dates.0.title }}</h1>
      </div>
    </div>
  </div>
</div>

<main>
  <div class="container news-text">
    <p>{{ sacred_dates.0.text | safe }}</p>
  </div>
  <p class="return-news-list text-center">
    <!-- <a class="styled-link" href="{% url 'institution:news-list' %}"> <i class="fa fa-reply"></i> Voltar</a> -->
  </p>
</main>

{% endblock %}