{% extends 'institution/base.html' %}
{% load static i18n %}


{% block head %}
<link href="{% static 'institution/css/style-chagdud.css' %}" rel="stylesheet">
<title>{% trans "institution.teachers.title" %} | {% trans "institution.teachers.chagdud-gonpa-brazil.title" %}</title>
{% endblock %}


{% block body %}
<div class="banner pt-5" style="background-image: url({% static 'institution/images/banner_red.jpg' %});">
  <div class="container">
    <div class="logo row justify-content-center">
      <div class="col-md-12 col-sm-12 mt-5 pt-2 text-center">

        <h1 class="mb-5 titulo">{% trans "institution.teachers.title" %}</h1>
      </div>
    </div>
  </div>
</div>

<main>
  <div class="sobre">
    <div class="container">
      <div id="sobreNos" class="row justify-content-center">
        <div class="col-md-8 col-sm-12 text-justify">
            <p>{% trans "institution.teachers.intro.p1" %} </p>
            <p>{% trans "institution.teachers.intro.p2" %}</p>
                <div class="mt-5 mb-4">
                  <h3 class="titulo"> {% trans "institution.teachers.founder" %} </h3>
                  <b></b>
                </div>
                <div class="row align-items-center">
                <div class="colEsquerda col-md-3 col-sm-12 mt-5 mb-4">
                  <img class="professores posicaoCTR" src="{% static 'institution/images/CTR_site_2020.jpeg' %}" width="100%">  
                </div>
                <div class="col-md-9 col-sm-12 mt-5 mb-4">
                  <h4 class="titulo mb-4"> {% trans "institution.teachers.chagdud-tulku-rinpoche.title" %}</h4>
                   
                  <p>{% trans "institution.teachers.chagdud-tulku-rinpoche.p1" %}</p>

                  <p>{% trans "institution.teachers.chagdud-tulku-rinpoche.p2" %}</p>

                  
                </div>
                <div class="col-md-12 col-sm-12 mt-n3">
                <p>{% trans "institution.teachers.chagdud-tulku-rinpoche.p3" %}</p>


                <p>{% trans "institution.teachers.chagdud-tulku-rinpoche.p4" %}</p>

                <p><i>{% trans "institution.teachers.chagdud-tulku-rinpoche.p5" %}</i></p>   

                <p>— {% trans "institution.teachers.chagdud-tulku-rinpoche.title" %}</p>
                </div>
              </div>
              <div class="mt-5 mb-4">
                <b></b>
              </div>

              <div class="row align-items-center">
                <div class="colEsquerda col-md-3 col-sm-12 mt-5 mb-4">
                  <img class="professores" src="{% static 'institution/images/khadro_mauria3.jpg' %}" width="100%">  
                </div>
                <div class="col-md-9 col-sm-12 mt-5 mb-4">
                  <h4 class="titulo mb-4"> {% trans "institution.teachers.chagdud-khadro" %} </h4>
                  <p>{% trans "institution.teachers.chagdud-khadro.p1" %}</p> 

                    <p>{% trans "institution.teachers.chagdud-khadro.p2" %}</p>

                  <p>{% trans "institution.teachers.chagdud-khadro.p3" %}</p> 

                  <p>{% trans "institution.teachers.chagdud-khadro.p4" %}</p>

                </div>
                <div class="col-md-12 col-sm-12 mt-n3">
                <p>{% trans "institution.teachers.chagdud-khadro.p5" %}</p>

                <p>{% trans "institution.teachers.chagdud-khadro.p6" %}</p>

                <p>{% trans "institution.teachers.chagdud-khadro.p7" %}</p>
                </div>
              </div>

              <div class="row align-items-center">
                <div class="colEsquerda col-md-3 col-sm-12 mt-5 mb-4">
                  <img class="professores posicaoJigme" src="{% static 'institution/images/jigme.jpg' %}" width="100%">  
                </div>
                <div class="col-md-9 col-sm-12 mt-5 mb-4">
                  <h4 class="titulo mb-4"> {% trans "institution.teachers.tromge-jigme-rinpoche.title" %} </h4>
                  <p>{% trans "institution.teachers.tromge-jigme-rinpoche.p1" %}</p>

                  <p>{% trans "institution.teachers.tromge-jigme-rinpoche.p2" %}</p>

                  <p>{% trans "institution.teachers.tromge-jigme-rinpoche.p3.1" %}
                    <a href="https://padmapeace.org" target="blank">Padmasambhava Peace Institute</a>
                    {% trans "institution.teachers.tromge-jigme-rinpoche.p3.2" %}
                  </p>  
                </div>
              </div>

              <div class="row align-items-center">
                <div class="colEsquerda col-md-3 col-sm-12 mt-5 mb-4">
                  <img class="professores posicaoTsering" src="{% static 'institution/images/lama_tsering.jpg' %}" width="100%">  
                </div>
                <div class="col-md-9 col-sm-12 mt-5 mb-4">
                  <h4 class="titulo mb-4"> {% trans "institution.teachers.lama-tsering-everest.title" %} </h4>
                  <p>{% trans "institution.teachers.lama-tsering-everest.p1" %} </p>
                   <p>{% trans "institution.teachers.lama-tsering-everest.p2" %} </p>
                  <p>{% trans "institution.teachers.lama-tsering-everest.p3" %} </p>  
                </div>
              </div>

              <div class="row align-items-center">
                <div class="colEsquerda col-md-3 col-sm-12 mt-5 mb-4">
                  <img class="professores" src="{% static 'institution/images/lamanorbu.jpg' %}" width="100%">  
                </div>
                <div class="col-md-9 col-sm-12 mt-5 mb-4">
                  <h4 class="titulo mb-4"> {% trans "institution.teachers.lama-padma-norbu.title" %}</h4>
                  <p>{% trans "institution.teachers.lama-padma-norbu.p1" %}</p>
                    <p>{% trans "institution.teachers.lama-padma-norbu.p2" %}</p>
                    <p>{% trans "institution.teachers.lama-padma-norbu.p3" %}</p>
                    <p>{% trans "institution.teachers.lama-padma-norbu.p4" %}</p>  
                </div>
              </div>

              <div class="row align-items-center">
                <div class="colEsquerda col-md-3 col-sm-12 mt-5 mb-4">
                  <img class="professores posicaoSherab" src="{% static 'institution/images/lama_sherab.jpg' %}" width="100%">  
                </div>
                <div class="col-md-9 col-sm-12 mt-5 mb-4">
                  <h4 class="titulo mb-4"> {% trans "institution.teachers.lama-sherab-drolma.title" %}</h4>
                  <p>{% trans "institution.teachers.lama-sherab-drolma.p1" %}</p> 

                   <p>{% trans "institution.teachers.lama-sherab-drolma.p2" %}</p>
                    
                </div>
              </div>

              <div class="row align-items-center">
                <div class="colEsquerda col-md-3 col-sm-12 mt-5 mb-4">
                  <img class="professores" src="{% static 'institution/images/LamaYeshe.jpg' %}" width="100%">  
                </div>
                <div class="col-md-9 col-sm-12 mt-5 mb-4">
                  <h4 class="titulo mb-4"> {% trans "institution.teachers.lama-yeshe-drolma.title" %} </h4>
                  <p>{% trans "institution.teachers.lama-yeshe-drolma.p1" %}</p>
                  <p>{% trans "institution.teachers.lama-yeshe-drolma.p2" %}</p>
                  <p>{% trans "institution.teachers.lama-yeshe-drolma.p3" %}</p>  
                </div>
              </div>

              <div class="row align-items-center">
                <div class="colEsquerda col-md-3 col-sm-12 mt-5">
                  <img class="professores" src="{% static 'institution/images/LamaRigdzin.jpg' %}" width="100%">  
                </div>
                <div class="col-md-9 col-sm-12 mt-5">
                  <h4 class="titulo mb-4"> {% trans "institution.teachers.lama-rigdzin-dordje.title" %}</h4>
                  <p>{% trans "institution.teachers.lama-rigdzin-dordje.p1" %}</p>
                    <p>{% trans "institution.teachers.lama-rigdzin-dordje.p2" %}</p>                    
                    <p>{% trans "institution.teachers.lama-rigdzin-dordje.p3" %}</p>  
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</main>
  {% endblock %}