{% extends 'institution/base.html' %}
{% load static %}


{% block head %}
<link href="{% static 'institution/css/style-chagdud.css' %}" rel="stylesheet">
<title>Professores| Chagdud Gonpa Brasil</title>
{% endblock %}


{% block body %}
<div class="banner pt-5" style="background-image: url({% static 'institution/images/banner_red.jpg' %});">
  <div class="container">
    <div class="logo row justify-content-center">
      <div class="col-md-12 col-sm-12 mt-5 pt-2 text-center">

        <h1 class="mb-5 titulo">Professores</h1>
      </div>
    </div>
  </div>
</div>

<main>
  <div class="sobre">
    <div class="container">
      <div id="sobreNos" class="row justify-content-center">
        <div class="col-md-8 col-sm-12 text-justify">
            <p>Na língua tibetana, o termo correspondente para ‘professor’ é ‘lama”. </p>
            <p>La significa elevado, em termos de realização transcendente. Ma significa 
              compaixão maternal, como a de uma mãe por seu próprio filho. Na união de 
              realização e compaixão, um lama tem a capacidade de beneficiar os demais.</p>
                <div class="mt-5 mb-4">
                  <h3 class="titulo"> Fundador </h3>
                  <b></b>
                </div>
                <div class="row align-items-center">
                <div class="colEsquerda col-md-3 col-sm-12 mt-5 mb-4">
                  <img class="professores posicaoCTR" src="{% static 'institution/images/CTR_site_2020.jpeg' %}" width="100%">  
                </div>
                <div class="col-md-9 col-sm-12 mt-5 mb-4">
                  <h4 class="titulo mb-4"> S. Ema. Chagdud Tulku Rinpoche </h4>
                   
                  <p>Sua Eminência Chagdud Tulku Rinpoche nasceu no leste do Tibete, 
                    na região de Kham, em 1930. Reconhecido aos quatro anos como um 
                    tulku (encarnação de um mestre de meditação), recebeu treinamento 
                    rigoroso e aprofundou os seus estudos em retiros extensos. 
                    Ele tinha uma afinidade especial pelas artes sagradas e pela medicina 
                    tibetana; e era famoso por sua voz maravilhosa como cantor.</p>

                  <p>Em 1959, ele escapou da ocupação comunista do Tibete e viveu exilado 
                    em comunidades de refugiados na Índia e no Nepal até se radicar nos 
                    Estados Unidos, em 1979. A pedido dos seus alunos ocidentais, 
                    estabeleceu a Fundação Chagdud Gonpa, uma bem-sucedida rede de 
                    centros da linhagem Nyingma do Budismo Vajraiana. 
                    Em 1994, Rinpoche mudou-se para o Brasil, fundou o Chagdud Gonpa 
                    Brasil e iniciou o projeto de construção de sua sede principal – o 
                    Khadro Ling - no Rio Grande do Sul. Quando faleceu, em 2002, ele já 
                    havia instaurado mais de vinte filiais no Brasil, Uruguai e Chile.</p>

                  
                </div>
                <div class="col-md-12 col-sm-12 mt-n3">
                <p>Ao viajar e ensinar constantemente, irradiando entusiasmo e compaixão, 
                  tornou-se o lama do coração de centenas de alunos e foi uma inspiração 
                  profunda para milhares de outros. Quando lhe perguntavam por que, aos 
                  sessenta e quatro anos, mudou-se para a América do Sul ao invés de permanecer 
                  confortavelmente nos Estados Unidos, respondia: “percebi a fé dos brasileiros 
                  e o seu interesse no Budismo e quis ensiná-los”.</p>


                <p>Agora, em um ciclo completo, o tulku de Chagdud Rinpoche foi reconhecido por 
                  Khenpo Ngagchung, no Tibete. Conhecido como Chagdud Yangsi, ele é o foco das 
                  preces e aspirações profundas dos membros da sanga ao redor do mundo.</p>

                <p><i>“Se eu tivesse que deixar somente um legado, seria o da sabedoria da 
                  motivação pura. Se eu tivesse que ser conhecido por um único título, 
                  seria o de lama da motivação… No momento em que os nossos corações se 
                  inclinam à compaixão por todos os seres, a nossa motivação se expande em 
                  direção à motivação todo-abrangente de um bodisatva.”</i></p>   

                <p>— S. Ema. Chagdud Tulku Rinpoche</p>
                </div>
              </div>
              <div class="mt-5 mb-4">
                <b></b>
              </div>

              <div class="row align-items-center">
                <div class="colEsquerda col-md-3 col-sm-12 mt-5 mb-4">
                  <img class="professores" src="{% static 'institution/images/khadro_mauria3.jpg' %}" width="100%">  
                </div>
                <div class="col-md-9 col-sm-12 mt-5 mb-4">
                  <h4 class="titulo mb-4"> Chagdud Khadro </h4>
                  <p>Conheceu Sua Eminência Chagdud Tulku Rinpoche em 1978 e 
                    casou-se com ele em 1979. Foi sua aluna por vinte e três anos. 
                    Ao ordená-la lama, em 1997, Chagdud Rinpoche designou-a como a 
                    futura diretora espiritual do Chagdud Gonpa Brasil.</p> 

                    <p>Desde o parinirvana de Rinpoche, em 2002, Chagdud Khadro 
                      tem se concentrado em dar continuidade ao treinamento 
                      vajraiana de alta qualidade estabelecido por ele.</p>

                  <p>Durante o tempo em que viveu com o Rinpoche, Khadro recebeu treinamento 
                    constante, desde a organização de atividades do Darma, até os 
                    ensinamentos e prática do Vajraiana.</p> 

                  <p>Ela colaborou na confecção da autobiografia dele - O Senhor da Dança - e, 
                    sob a sua orientação, compilou comentários de seus ensinamentos sobre 
                    as práticas de Ngöndro do tesouro de Dudjom; sobre a prática de Powa, 
                    revelada por Longsal Nyingpo; e sobre a versão concisa de Tara 
                    Vermelha de Apong Terton.</p>

                </div>
                <div class="col-md-12 col-sm-12 mt-n3">
                <p>Como antiga diretora e editora da Padma Publishing nos Estados 
                  Unidos, Khadro editou muitas traduções de obras tibetanas.</p>

                <p>Chagdud Khadro tem sido incansável em manter o legado deixado por 
                  S.Ema. Chagdud Tulku Rinpoche. Ela supervisionou a construção de um 
                  Zangdog Palri: a Terra Pura de Guru Rinpoche, e trabalha com traduções 
                  e publicações de textos em português e espanhol.</p>

                <p>Khadro continua a apoiar projetos de apoio espiritual a quem está 
                  morrendo e aos cuidadores de pacientes em estado terminal; e 
                  supervisiona as atividades e ensina em todas as filiais do 
                  Chagdud Gonpa Brasil e Chagdud Gonpa Hispanoamérica. Ela também 
                  concede ensinamentos na Europa, Estados Unidos, Europa e Austrália. </p>
                </div>
              </div>

              <div class="row align-items-center">
                <div class="colEsquerda col-md-3 col-sm-12 mt-5 mb-4">
                  <img class="professores posicaoJigme" src="{% static 'institution/images/jigme.jpg' %}" width="100%">  
                </div>
                <div class="col-md-9 col-sm-12 mt-5 mb-4">
                  <h4 class="titulo mb-4"> Tromge Jigme Rinpoche </h4>
                  <p>Tromge Jigme Rinpoche é filho de Sua Eminência Chagdud Tulku Rinpoche. 
                    Nasceu em 1964 em Orissa, na Índia, onde teve a boa fortuna de receber 
                    uma educação budista tradicional. Foi extensamente treinado nos ensinamentos 
                    e práticas da tradição Nyingma do Budismo Tibetano.</p>

                  <p> Imigrou para os Estados Unidos em 1988. Atualmente, Rinpoche viaja pela América 
                    do Norte, América do Sul e Ásia concedendo ensinamentos e conselhos com sua gentil 
                    sabedoria e cordialidade. Treina alunos na meditação mais elevada de Dzogchen e 
                    é o mestre vajra de muitas grandes cerimônias e iniciações nas filiais do 
                    Chagdud Gonpa nas Américas do Norte e do Sul. </p>

                  <p>Além de compartilhar a responsabilidade sobre monastérios no Tibete e no Nepal, é o 
                    fundador e diretor do <a href="https://padmapeace.org" target="blank">Padmasambhava Peace Institute</a> e diretor da Fundação Mahakaruna, 
                    uma instituição de caridade internacional fundada por Chagdud Rinpoche que assiste 
                    idosos, doentes e necessitados em várias partes da Ásia além de trabalhar para 
                    preservar a cultura do Budismo Tibetano. </p>  
                </div>
              </div>

              <div class="row align-items-center">
                <div class="colEsquerda col-md-3 col-sm-12 mt-5 mb-4">
                  <img class="professores posicaoTsering" src="{% static 'institution/images/lama_tsering.jpg' %}" width="100%">  
                </div>
                <div class="col-md-9 col-sm-12 mt-5 mb-4">
                  <h4 class="titulo mb-4"> Lama Tsering Everest </h4>
                  <p>Nascida nos EUA, Lama Tsering foi, por mais de onze anos, intérprete de S.Ema. Chagdud Tulku Rinpoche.</p>
                   <p> Depois de completar, em 1995, um retiro de três anos, recebeu a ordenação de Lama, 
                    sendo assim autorizada a dar ensinamentos e iniciações do budismo vajraiana. Neste mesmo ano, 
                    foi convidada a dar ensinamentos no Brasil, para onde se mudou logo depois, assumindo a 
                    coordenação do centro em São Paulo, o Odsal Ling.</p>
                  <p>Reconhecida por seu estilo contundente e bem-humorado, 
                    Lama Tsering foca seus ensinamentos no desenvolvimento da compaixão e 
                    na aplicação da filosofia budista na vida diária.
                    </p>  
                </div>
              </div>

              <div class="row align-items-center">
                <div class="colEsquerda col-md-3 col-sm-12 mt-5 mb-4">
                  <img class="professores" src="{% static 'institution/images/lamanorbu.jpg' %}" width="100%">  
                </div>
                <div class="col-md-9 col-sm-12 mt-5 mb-4">
                  <h4 class="titulo mb-4"> Lama Padma Norbu </h4>
                  <p>Nasceu nos Estados Unidos, em 1948, e na juventude formou-se e 
                    trabalhou como engenheiro elétrico. Conheceu seu professor, 
                    S.Ema. Chagdud Tulku Rinpoche, em 1980 e, depois de completar 
                    o ciclo de ensinamentos e retiros de Dzogchen, foi ordenado lama na tradição vajraiana em 1995.</p>
                    <p>Por 20 anos trabalhou com Rinpoche na execução de vários projetos 
                      como a construção de centros de retiros e do Templo Khadro Ling, no sul do Brasil.</p>
                    <p>Posteriormente, completou um retiro solitário de dois anos sob a orientação 
                      de Chagdud Rinpoche e foi encorajado a dar ensinamentos e a compartilhar a sua 
                      experiência na integração de princípios budistas com os desafios da vida cotidiana.</p>
                    <p>Atualmente, vive no Templo Odsal Ling, onde divide seu tempo 
                      entre práticas de meditação e os vários projetos da sanga.
                    </p>  
                </div>
              </div>

              <div class="row align-items-center">
                <div class="colEsquerda col-md-3 col-sm-12 mt-5 mb-4">
                  <img class="professores posicaoSherab" src="{% static 'institution/images/lama_sherab.jpg' %}" width="100%">  
                </div>
                <div class="col-md-9 col-sm-12 mt-5 mb-4">
                  <h4 class="titulo mb-4"> Lama Sherab Drolma </h4>
                  <p>Lama Sherab Drolma foi tradutora de S. Ema. Chagdud Tulku Rinpoche
                     durante o período que ele residiu no Brasil. Também trabalhou como 
                     sua assistente pessoal e o ajudou na administração das atividades 
                     durante a construção do Chagdud Gonpa Khadro Ling. </p> 

                   <p> Foi ordenada Lama por S. Ema. Chagdud Tulku Rinpoche em 2002. 
                     É uma das professoras residentes do Khadro Ling e viaja pelo Brasil 
                     dando suporte aos praticantes através de ensinamentos, aconselhamento 
                     espiritual e prática.</p>
                    
                </div>
              </div>

              <div class="row align-items-center">
                <div class="colEsquerda col-md-3 col-sm-12 mt-5 mb-4">
                  <img class="professores" src="{% static 'institution/images/LamaYeshe.jpg' %}" width="100%">  
                </div>
                <div class="col-md-9 col-sm-12 mt-5 mb-4">
                  <h4 class="titulo mb-4"> Lama Yeshe Drolma </h4>
                  <p>Lama Yeshe foi estudante de S.Ema. Chagdud Tulku Rinpoche desde 1990. 
                    Após o encontro com Rinpoche no Brasil, ela viajou para o Rigdzin Ling na Califórnia, 
                    onde participou de muitos retiros importantes e rapidamente aprendeu excelente inglês.</p>
                    <p>Ela retornou ao Brasil ao final de 1994, servindo como tradutora a Rinpoche e 
                      Chagdud Khadro. Durante esse tempo no Brasil, ela também se tornou uma excelente 
                      dançarina das tradicionais danças sagradas do Budismo Vajraiana. Durante 
                      os três últimos anos de vida de Rinpoche, Lama Yeshe supervisionou seus 
                      retiros de Dzogchen, ganhando respeito por sua estrita e intuitiva orientação.</p>
                    <p>Ordenada em 2002, a pedido de Rinpoche ela interrompeu um prolongado 
                      retiro pessoal para servir, junto com seu marido, Lama Rigdzin, como lama 
                      residente no Chagdud Gonpa Dordje Ling em Curitiba, Paraná.
                    </p>  
                </div>
              </div>

              <div class="row align-items-center">
                <div class="colEsquerda col-md-3 col-sm-12 mt-5">
                  <img class="professores" src="{% static 'institution/images/LamaRigdzin.jpg' %}" width="100%">  
                </div>
                <div class="col-md-9 col-sm-12 mt-5">
                  <h4 class="titulo mb-4"> Lama Rigdzin Dordje </h4>
                  <p>Lama Rigdzin foi estudante de S. Ema. Chagdud Tulku Rinpoche desde 1992, 
                    primeiramente no Rigdzin Ling, Califórnia, e, desde 1995, no Brasil. 
                    Durante esse período ele atendeu a muitos ensinamentos e retiros, e serviu 
                    Rinpoche de maneiras variadas.</p>
                    <p>Suas habilidades em construção e artesanato foram extremamente 
                      valiosas durante a construção do templo no Khadro Ling, e, sendo um 
                      excelente artista, trabalhou com Rinpoche em projetos artísticos, mais 
                      notavelmente na grande estátua de Buda Akshobia. Ele também serviu como 
                      tchopen (mestre de altar), umze (mestre em entoar), dançarino de dança 
                      dos lamas e como tradutor do Rinpoche.</p>                    
                    <p>Suas qualidades foram oficialmente reconhecidas por Rinpoche em uma 
                      ordenação como lama em 2002. Lama Rigdzin e sua esposa, Lama Yeshe, foram c
                      onvidados a ser os lamas residentes do Chagdud Gonpa Dordje Ling em Curitiba, 
                      Paraná. Lama Rigdzin se comunica em português.
                    </p>  
                </div>
              </div>

                

        </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</main>
  {% endblock %}