{% extends 'khadro_ling/base.html' %}
{% load static i18n %}

{% block head %}
<title>Khadro Ling - Quem Somos</title>
{% endblock %}

{% block body %}
<div class="bannerSobre pt-5" style="background-image:url({% static 'institution/images/banner_yellow.jpg' %});">
  <div class="container">
    <div class="logo row justify-content-center">
      <div class="col-md-12 col-sm-12 mt-5 pt-1 text-center">

        <h1 class="mb-5 titulo text-white">Quem somos</h1>
      </div>
    </div>
  </div>
</div>

<main>
  <div class="sobre">
    <div class="container">
      <div id="sobreNos" class="row justify-content-center">
        <div class="col-md-8 col-sm-12 text-justify">
          <p>O Chagdud Gonpa Khadro Ling, localizado no município de Três Coroas, 
            no Rio Grande do Sul, é a sede sul-americana de uma rede de filiais do 
            Budismo Tibetano Vajraiana fundado por Sua Emª Chagdud Tulku Rinpoche 
            em 1995. Com o falecimento de Rinpoche em 2002, as filiais da organização 
            estão sob a direção espiritual de Chagdud Khadro, sua esposa. </p>

          <p>Em tibetano, Kha significa “céu”; Dro significa “mover-se”, “ir”, “dançar”; 
            Khadro é a palavra associada a um aspecto da energia iluminada na forma feminina. 
            Já Ling significa “local”. Uma tradução possível para Khadro Ling, então, é 
            “Morada das andarilhas do céu”.</p>

          <p>Toda a estrutura do Khadro Ling é mantida por doações e os residentes 
            da comunidade oferecem trabalho voluntário para manutenção das atividades 
            diárias necessárias à manutenção da Fundação Chagdud Gonpa Brasil. 
            Todos os dias, em dois horários diferentes, os moradores se reúnem para 
            realizar e manter as práticas de meditação do budismo Vajraiana da linhagem 
            de Chagdud Tulku Rinpoche.</p>

          <p>
            Você pode contribuir fazendo oferendas que serão utilizadas para a 
            aquisição das substâncias oferecidas durante essas cerimônias diárias, 
            como lamparinas, incenso e tormas. Para fazer uma oferenda, 
            <a href="{% url 'offering:offerings' %}" target="blank">clique aqui</a>.
          </p>

          <div class="row">

          
          <div class="mt-5 mb-4 col-12">
            <h3 class="titulo">Os Lamas Residentes </h3>
            <b></b>
          </div>

          <div class="col-md-7 col-sm-12 mt-5">
            <h4 class="titulo mb-4"> {% trans "institution.teachers.chagdud-khadro" %} </h4>
            <p>{% trans "institution.teachers.chagdud-khadro.p1" %}</p>

            <p>{% trans "institution.teachers.chagdud-khadro.p2" %}</p>
                
            <p>{% trans "institution.teachers.chagdud-khadro.p3" %} </p>
            
            <p>{% trans "institution.teachers.chagdud-khadro.p4" %} </p>

            <p>{% trans "institution.teachers.chagdud-khadro.p5" %}</p>

          </div>

          <div class=" colDireita col-md-5 col-sm-12 mt-5">
            <img class="imgChagdud" src="{% static 'khadro_ling/images/khadro_mauria3.jpg' %}" width="100%">
            <b></b>
          </div>

          <div class="col-md-12 col-sm-12">
          <p>{% trans "institution.teachers.chagdud-khadro.p6" %}</p>

          <p>{% trans "institution.teachers.chagdud-khadro.p7" %}</p>

        </div>

            <div class="col-12 border-bottom my-5"></div>

            <div class=" colEsquerda col-md-5 col-sm-12 mt-5 mb-4">
              <img class="imgSherab" src="{% static 'khadro_ling/images/lama_sherab.jpg' %}" width="100%">
              <b></b>
            </div>

            <div class="col-md-7 col-sm-12 mt-5 mb-4">
            <h4 class="titulo mb-4"> {% trans "institution.teachers.lama-sherab-drolma.title" %} </h4>
            <p>{% trans "institution.teachers.lama-sherab-drolma.p1" %}</p> 

            <p>{% trans "institution.teachers.lama-sherab-drolma.p2" %}</p>
              
          </div>

        </div>
      </div>
    </div>
  </div>
  </div>
  </div>
</main>
{% endblock %}