{% extends 'khadro_ling/base.html' %}
{% load static %}

{% block head %}
<title>Khadro Ling - Quem Somos</title>
{% endblock %}

{% block body %}
<div class="bannerSobre pt-5" style="background-image:url({% static 'institution/images/banner_yellow.jpg' %});">
  <div class="container">
    <div class="logo row justify-content-center">
      <div class="col-md-12 col-sm-12 mt-5 pt-1 text-center">

        <h1 class="mb-5 titulo text-white">Quem somos</h1>
      </div>
    </div>
  </div>
</div>

<main>
  <div class="sobre">
    <div class="container">
      <div id="sobreNos" class="row justify-content-center">
        <div class="col-md-8 col-sm-12 text-justify">
          <p>O Chagdud Gonpa Khadro Ling, localizado no município de Três Coroas, 
            no Rio Grande do Sul, é a sede sul-americana de uma rede de filiais do 
            Budismo Tibetano Vajraiana fundado por Sua Emª Chagdud Tulku Rinpoche 
            em 1995. Com o falecimento de Rinpoche em 2002, as filiais da organização 
            estão sob a direção espiritual de Chagdud Khadro, sua esposa. </p>

          <p>Em tibetano, Kha significa “céu”; Dro significa “mover-se”, “ir”, “dançar”; 
            Khadro é a palavra associada a um aspecto da energia iluminada na forma feminina. 
            Já Ling significa “local”. Uma tradução possível para Khadro Ling, então, é 
            “Morada das andarilhas do céu”.</p>

          <p>Toda a estrutura do Khadro Ling é mantida por doações e os residentes 
            da comunidade oferecem trabalho voluntário para manutenção das atividades 
            diárias necessárias à manutenção da Fundação Chagdud Gonpa Brasil. 
            Todos os dias, em dois horários diferentes, os moradores se reúnem para 
            realizar e manter as práticas de meditação do budismo Vajraiana da linhagem 
            de Chagdud Tulku Rinpoche.</p>

          <p>
            Você pode contribuir fazendo oferendas que serão utilizadas para a 
            aquisição das substâncias oferecidas durante essas cerimônias diárias, 
            como lamparinas, incenso e tormas. Para fazer uma oferenda, 
            <a href="{% url 'khadroling:offerings' %}" target="blank">clique aqui</a>.
          </p>

          <div class="row">

          
          <div class="mt-5 mb-4 col-12">
            <h3 class="titulo">Os Lamas Residentes </h3>
            <b></b>
          </div>

          <div class="col-md-7 col-sm-12 mt-5">
            <h4 class="titulo mb-4"> Chagdud Khadro </h4>
            <p>Chagdud Khadro conheceu Sua Eminência Chagdud Tulku Rinpoche em março de 
              1978, casou-se com ele em 1979 e foi aluna dedicada até o parinirvana dele, 
              no dia de seu aniversário de casamento, vinte e três anos mais tarde.</p>

              <p>Ao ordená-la lama, em 1997, Chagdud Rinpoche designou-a para ser a futura 
                diretora espiritual do Chagdud Gonpa Brasil. Na função de lama dirigente 
                após a transição de Rinpoche, Khadro tem se concentrado em dar continuidade 
                ao treinamento vajraiana de alta qualidade estabelecido por ele.</p>
                
                <p>Durante o tempo vivido com o Rinpoche, Khadro recebeu treinamento constante, 
                  que abrangeram desde a organização de atividades do Darma, até os ensinamentos 
                  e prática do Vajraiana. Ela colaborou em sua autobiografia: O Senhor da Dança e; 
                  sob sua orientação, compilou comentários de seus ensinamentos sobre a prática 
                  do ngöndro do Dudjom Tersar; sobre a prática de powa de Longsal Nyingpo e 
                  sobre a versão concisa de Tara Vermelha de Apong Terton. </p>
          </div>
          
          
          <div class=" colDireita col-md-5 col-sm-12 mt-5">
            <img class="imgChagdud" src="{% static 'khadro_ling/images/khadro_mauria3.jpg' %}" width="100%">
            <b></b>
          </div>
          <div class="col-md-12 col-sm-12">
            <p>Antiga diretora e editora da Padma Publishing nos Estados Unidos, 
              Khadro editou muitas traduções de obras tibetanas. 
              Após sua mudança para o Brasil, em 1995, ela passou a trabalhar 
              na publicação de traduções para o português e o espanhol de 
              textos do budismo tibetano.</p>
            </div>

            <div class="col-12 border-bottom my-5"></div>

            <div class=" colEsquerda col-md-5 col-sm-12 mt-5 mb-4">
              <img class="imgSherab" src="{% static 'khadro_ling/images/lama_sherab.jpg' %}" width="100%">
              <b></b>
            </div>

            <div class="col-md-7 col-sm-12 mt-5 mb-4">
            <h4 class="titulo mb-4"> Lama Sherab Drolma </h4>
            <p>Lama Sherab  Drolma foi tradutora de S. Ema. Chagdud Tulku Rinpoche durante 
              o período em que ele residiu no Brasil. Também trabalhou como sua assistente 
              pessoal e o ajudou na administração das atividades durante a construção do 
              Chagdud Gonpa Khadro Ling. </p>

              <p>Foi ordenada Lama por S. Ema. Chagdud Tulku Rinpoche em 2002. 
                É uma das professoras residentes do Khadro Ling e viaja pelo Brasil 
                dando suporte aos praticantes através de ensinamentos, aconselhamento
                 espiritual e prática.</p>
              
          </div>

        </div>
      </div>
    </div>
  </div>
  </div>
  </div>
</main>
{% endblock %}