{% extends 'khadro_ling/base.html' %}
{% load static %}

{% block head %}
<title>Khadro Ling - Quem Somos</title>
{% endblock %}

{% block body %}
<div class="bannerSobre pt-5" style="background-color:#983628;">
  <div class="container">
    <div class="logo row justify-content-center">
      <div class="col-md-12 col-sm-12 mt-5 pt-1 text-center">

        <h1 class="mb-5 titulo text-white">Quem somos</h1>
      </div>
    </div>
  </div>
</div>

<main>
  <div class="sobre">
    <div class="container">
      <div id="sobreNos" class="row justify-content-center">
        <div class="col-md-8 col-sm-12 text-justify">
          <p>O Chagdud Gonpa Khadro Ling, localizado no município de Três Coroas, no Rio Grande do Sul, 
            é a sede sul-americana de uma rede de Centros de Budismo Tibetano Vajraiana fundado por Sua 
            Emª Chagdud Tulku Rinpoche em 1995. Com o falecimento de Rinpoche em 2002, os centros estão 
            sob a direção espiritual de Chagdud Khadro, sua esposa. Em tibetano, Kha significa “céu”; 
            Dro significa “mover-se”, “ir”, “dançar”; Khadro é a tradução de Dakini, palavra associada 
            a um aspecto da energia iluminada na forma feminina. Já Ling significa “local”. Uma tradução
              possível para Khadro Ling, então, é “Morada das andarilhas do céu”.</p>

          <p>Cerca de 50 praticantes do Budismo Tibetano Vajraiana moram no Khadro Ling. São pessoas 
            de vários locais do Brasil e do mundo, que vieram para cá com o objetivo de priorizar a 
            prática espiritual e auxiliar nas atividades diárias necessárias à manutenção da Fundação 
            Chagdud Gonpa. Toda a estrutura do centro é mantida por doações.</p>

          
          <div class="mt-5 mb-4">
            <h3 class="titulo">Os Lamas Residentes </h3>
            <b></b>
          </div>

          <div class="row">
          <div class=" colEsquerda col-md-5 col-sm-12 mt-5 mb-4">
            <img class="imgRinpoche" src="{% static 'khadro_ling/images/CTR_site_2020.jpeg' %}" width="100%">
            <b></b>
          </div>

          <div class="col-md-7 col-sm-12 mt-5 mb-4">
            <h4 class="titulo mb-4"> Sua Eminência Chagdud Tulku Rinpoche </h4>
            <p>Sua Eminência Chagdud Tulku Rinpoche nasceu no leste do Tibete (Kham), em 1930. 
              Reconhecido aos quatro anos como um tulku (encarnação de um mestre de meditação), 
              recebeu treinamento rigoroso e aprofundou os seus estudos em retiros extensos. Ele 
              tinha uma afinidade especial pelas artes sagradas e pela medicina tibetana, e era famoso 
              por sua voz maravilhosa, como cantor.</p>
              <p>Em 1959, ele escapou da ocupação comunista do Tibete e viveu exilado em comunidades de 
                refugiados na Índia e no Nepal até se estabelecer nos Estados Unidos, em 1979. A pedido 
                dos seus alunos ocidentais, criou a Fundação Chagdud Gonpa, uma rede de centros da 
                linhagem Nyingma do Budismo Vajraiana. Em 1994, mudou-se para o Brasil e começou a 
                construção do seu centro principal, o Khadro Ling, no Rio Grande do Sul. 
                Quando morreu, em 2002, ele havia fundado mais de vinte centros no Brasil, Uruguai e Chile.</p>
              
          </div>
          <div class="col-md-12 col-sm-12">
            <p>Ao viajar e ensinar constantemente, irradiando entusiasmo e compaixão, tornou-se o 
              lama do coração de centenas de alunos e foi uma inspiração profunda para milhares de outros. 
              Quando lhe perguntavam por que, aos sessenta e quatro anos, mudou-se para a América do Sul ao 
              invés de permanecer confortavelmente nos Estados Unidos, respondia: “percebi a fé dos 
              brasileiros e o seu interesse no Budismo e quis ensiná-los”.</p>
            <p>Sua esposa, Chagdud Khadro, é a Diretora Espiritual dos seus centros na América do Sul. 
              Seu filho, Tromge Jigme Rinpoche, treina alunos na meditação mais elevada de Dzogchen e 
              é o mestre vajra de muitas grandes cerimônias e iniciações nos centros do Chagdud Gonpa 
              nas Américas do Norte e do Sul. Chagdud Rinpoche também teve uma filha, Dawa Lhamo, 
              que reside no Colorado.</p>
            <p>Agora, em um ciclo completo, o tulku de Chagdud Rinpoche foi reconhecido por Khenpo Ngagchung 
              no Tibete. Conhecido como Chagdud Yangsi, ele é o foco das preces e aspirações profundas dos 
              membros da sanga ao redor do mundo.</p>
            <p><i>“Se eu tivesse que deixar somente um legado, seria o da sabedoria da motivação pura. 
              Se eu tivesse que ser conhecido por um único título, seria o de lama da motivação… 
              No momento em que os nossos corações se inclinam à compaixão por todos os seres, 
              a nossa motivação se expande em direção à motivação todo-abrangente de um bodisatva.”</i></p>
              <p class="legenda">S. Ema. Chagdud Tulku Rinpoche. </p>
          </div>

          <div class="col-12 border-bottom my-5"></div>

          <div class="col-md-7 col-sm-12 mt-5">
            <h4 class="titulo mb-4"> Chagdud Khadro </h4>
            <p>Chagdud Khadro conheceu Sua Eminência Chagdud Tulku Rinpoche em março de 1978, 
              casou-se com ele em 1979 e foi aluna dedicada até o parinirvana dele, no dia de seu 
              aniversário de casamento, vinte e três anos mais tarde.</p>

              <p>Ao ordená-la lama em 1997, Chagdud Rinpoche designou-a para ser a futura diretora 
                espiritual do Chagdud Gonpa Brasil. Na função de lama dirigente após a transição do 
                Rinpoche, Khadro tem se concentrado em dar continuidade ao treinamento vajraiana de 
                alta qualidade estabelecido por ele.</p>
                
                <p>Durante o tempo vivido com o Rinpoche, Khadro recebeu treinamento constante, que 
                  abrangeram desde a organização de atividades do Darma, até os ensinamentos e prática 
                  do Vajrayana. Ela colaborou em sua autobiografia O Senhor da Dança e, sob sua orientação, 
                  compilou comentários de seus ensinamentos sobre o ngondro do Dudjom Tersar, sobre a prática 
                  de powa de Longsal Nyingpo e sobre a versão concisa de Tara Vermelha de Apong Terton. </p>
          </div>
          
          
          <div class=" colDireita col-md-5 col-sm-12 mt-5">
            <img class="imgChagdud" src="{% static 'khadro_ling/images/khadro_mauria3.jpg' %}" width="100%">
            <b></b>
          </div>
          <div class="col-md-12 col-sm-12">
          <p>Antiga diretora e editora da Padma Publishing nos Estados Unidos, Khadro editou muitas 
            traduções de obras tibetanas. Após sua mudança para o Brasil com o Rinpoche em 1995, 
            ela passou a trabalhar na publicação de traduções para o português e o espanhol 
            de textos do budismo tibetano.</p>
            </div>

            <div class="col-12 border-bottom my-5"></div>

            <div class=" colEsquerda col-md-5 col-sm-12 mt-5 mb-4">
              <img class="imgSherab" src="{% static 'khadro_ling/images/lama_sherab.jpg' %}" width="100%">
              <b></b>
            </div>

            <div class="col-md-7 col-sm-12 mt-5 mb-4">
            <h4 class="titulo mb-4"> Lama Sherab Drolma </h4>
            <p>Lama Sherab Drolma é uma das professoras residentes do Khadro Ling - a sede do Chagdud Gonpa 
              Brasil, fundada por Chagdud Tulku Rinpoche. Por anos, serviu ao Rinpoche como tradutora, 
              como atendente pessoal e como administradora das suas atividades no Darma.</p>

              <p>Ordenada por Rinpoche em 2002, Lama Sherab tornou-se uma professora que inspira 
                respeito por sua disciplina e dedicação ao budismo e que evidencia as qualidades que 
                surgem da devoção, especialmente na relação entre estudante e guia espiritual.</p>
              
          </div>

        </div>
      </div>
    </div>
  </div>
  </div>
  </div>
</main>
{% endblock %}