{% load static %}

<html>

<head>
  <link rel="shortcut icon" href="{% static 'khadro_ling/images/khadro_ling_logo.ico' %}" type="image/x-icon" />
  <link href="{% static 'institution/css/style.css' %}" rel="stylesheet">
  <link href="{% static 'khadro_ling/css/style-khadro.css' %}" rel="stylesheet">
  <meta charset=”utf-8”>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js" type="text/javascript"></script>
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Lato&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link href="https://fonts.googleapis.com/css2?family=EB+Garamond&family=Lato:wght@100&display=swap" rel="stylesheet">
  {% block head %}
  {% endblock %}
</head>

<body>
    <header>
      <div class="topMenu">
        <div class="container">
          <div class="row">
            <div class="col-12 d-flex flex-row-reverse">
              <ul class="nav text-white ml-4">
                <li class="nav-item">
                  <a class="nav-link text-black-50" href="">|  Português</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link text-black-50" href="">|  English </a>
                </li>
                <li class="nav-item">
                  <a class="nav-link text-black-50" href="">|  Español </a>
                </li>
              </ul>
              <ul class="nav text-white">                
                <li class="nav-item">
                  <a class="nav-link text-black-50" href="https://www.facebook.com/chagdud" target="blank"><i class="fa fa-facebook"></i></a>
                </li>
                <li class="nav-item">
                  <a class="nav-link text-black-50" href="https://www.instagram.com/khadro.ling/" target="blank"><i class="fa fa-instagram"></i></a>
                </li>
                <li class="nav-item">
                  <a class="nav-link text-black-50" href="mailto:info@templobudista.org"><i class="fa fa-envelope-o"></i></a>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>

      <div class="menu" id="menu">
        <div class="container">
          <div class="row align-items-center justify-content-between">
            <div class="d-flex justify-content-center">
              <a href="{% url 'khadroling:home' %}">
                <img src="{% static 'khadro_ling/images/khadro_ling_logo.png' %}" alt="Logo Khadro Ling" width="200px">
              </a>
            </div>
            <div class="col-md-7 col-sm-7 d-flex flex-row-reverse">
              <ul class="nav text-white">
                <li class="nav-item">
                  <a class="nav-link text-black-50" href="{% url 'institution:home' %}">América do Sul</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link text-black-50" href="{% url 'khadroling:about-us' %}">Quem somos</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link text-black-50" href="{% url 'event:event-list' %}">Eventos</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link text-black-50" href="{% url 'offering:offerings' %}">Oferendas</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link text-black-50" href="{% url 'institution:contact' %}">Contato</a>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
      <div class="mobileMenu py-3">
        <nav class="menu-mobile">
          <ul>
            <li><a href="{% url 'institution:home' %}">América do Sul</a></li>
            <li><a href="{% url 'khadroling:about-us' %}">Quem somos</a></li>
            <li><a href="{% url 'event:event-list' %}">Eventos</a></li>
            <li><a href="{% url 'offering:offerings' %}">Oferendas</a></li>
            <li><a href="{% url 'institution:contact' %}">Oferendas</a></li>
          </ul>
        </nav>
  
        <span class="btn-menu">
          <span></span>
          <span></span>
          <span></span>
        </span>
  
        <a href="{% url 'khadroling:home' %}"><img class="logoMobile mt-4 mr-2" src="{% static 'khadro_ling/images/khadro_ling_logo.png' %}" alt="Logo Khadro Ling" width="130px"></a>
      </div>
  
    </header>

    
    {% block body %}
    {% endblock %}

    <footer class="bg-dark text-light text-center">
      <p class="apps my-4">
        <a href="https://apps.apple.com/us/app/eventos-chagdud-gonpa-brasil/id1213795008"><i class="fa fa-apple mr-2"></i></a>
        <a href="https://play.google.com/store/apps/details?id=hr.apps.n207192230"><i class="fa fa-android mr-2"></i></a>
      </p>
      <p class="midia my-4">
        <a href="https://www.facebook.com/chagdud"><i class="fa fa-facebook-square mr-2"></i></a>
        <a href="https://www.instagram.com/khadro.ling/"><i class="fa fa-instagram mr-2" aria-hidden="true"></i></a>
        <a href="https://www.youtube.com/user/chagdudgonpa"><i class="fa fa-youtube-play mr-2" aria-hidden="true"></i></a>
        <a href="https://soundcloud.com/chagdudgonpa"><i class="fa fa-soundcloud mr-2" aria-hidden="true"></i></a>
        <a href="https://www.flickr.com/photos/chagdudgonpa/albums"><i class="fa fa-flickr mr-2" aria-hidden="true"></i></a>
    </p>
      <div class="col-12">
        <p>© 2020 Chagdud Gonpa Brasil / © 2020 Chagdud Gonpa Khadro Ling</p>
        <p>Contato: <a href="mailto:info@templobudista.org">E-mail</a> • Fone: (51) 3546-8201 </p>
        <p>Estr. Linha Águas Brancas, 1211 Cx. Postal 121, CEP 95660-000 - Três Coroas, RS</p>
      </div>
    </footer>
  
    <script>
      $('.btn-menu').on('click touchstart', function () {
        $('html').toggleClass('btn-menu-active');
      });
      window.onscroll = function () { myFunction() };
  
      var menu = document.getElementById("menu");
      var sticky = menu.offsetTop;
  
      function myFunction() {
        if (window.pageYOffset >= sticky) {
          menu.classList.add("sticky")
        } else {
          menu.classList.remove("sticky");
        }
      }
    </script>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
      integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
      crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
      integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
      crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
      integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
      crossorigin="anonymous"></script>
  </body>

</html>
