{% extends 'khadro_ling/base.html' %}
{% load static %}

{% block head %}
<title>Eventos | Khadro Ling</title>
{% endblock %}

{% block body %}
<div class="bannerSobre pt-5" style="background-image:url({% static 'institution/images/banner_green.jpg' %})">
  <div class="container">
    <div class="logo row justify-content-center">
      <div class="col-md-12 col-sm-12 mt-5 pt-1 text-center">

        <h1 class="mb-5 titulo text-white">Eventos</h1>
      </div>
    </div>
  </div>
</div>

<main>
  <div class="sobre">
    <div class="container">
      <div id="eventos" class="row">
        <div class="row align-items-center">   
          {% for event in event_list %}
            {% if event.id == 1 %}
              <div class="mb-5 col-md-5 offset-md-1 offset-md-0 col-sm-12 justify-content-center">
                <h3 class="titulo">{{ event.name }}</h3>
              <b class="mb-2"></b>
              <p class="legenda text-black-50">
                De {{ event.start_date.day }}/{{ event.start_date.month }}/{{ event.start_date.year }} 
                até {{ event.end_date.day }}/{{ event.end_date.month }}/{{ event.end_date.year }} 
              </p>
              <span>
                {{ event.short_description }}
              </span>
              <span class="d-block mt-3"><a class="link" href="{% url 'khadroling:event-detail' event.pk %}">Saiba mais</a></span>
              </div>
              <div class="col-md-5 col-sm-12 d-flex mb-5">
                <img class="rounded" src="{% static 'khadro_ling/images/khadro.jpg' %}" width="100%">
              </div>
    
              <div class="col-md-8 col-sm-4 offset-md-2 border-bottom my-5"></div>
            {% else %}
              <div class="d-flex flex-wrap mb-5 col-md-4 offset-md-2 col-sm-12 justify-content-center">
                <div class="data col-md-2 mb-2">
                  <p class="diaData">{{ event.start_date.day }}</p>
                  <p class="mesData">abr</p>
                </div>
                <div class="nomeEvento col-10">
                <h4 class="titulo">{{ event.name }}</h4>
              <b class="mb-2"></b>
                </div>
                <div class="ml-4"> 
                <span>
                  {{ event.short_description }}
                </span>
                <span class="d-block mt-2"><a class="link" href="{% url 'khadroling:event-detail' event.pk %}">Saiba mais</a></span>
                </div>
              </div>
              <div class="col-md-4 col-sm-12 d-flex mb-5">
                <img class="rounded thumbEvento" src="{% static 'khadro_ling/images/natal.jpg' %}" width="100%">
              </div>
            {% endif %}
          {% endfor %}
<!-- 

          <div class="d-flex flex-wrap mb-5 col-md-4 offset-md-2 col-sm-12 justify-content-center">
            <div class="data col-md-2 mb-2">
              <p class="diaData">29</p>
              <p class="mesData">jun</p>
            </div>
            <div class="nomeEvento col-10">
            <h4 class="titulo"> Drubchen de Essência do Siddhi </h4>
          <b class="mb-2"></b>
            </div>
            <div class="ml-4"> 
            <span>
              A Essência do Sidi (em tibetano: Rangjung Padme Nyingtik) é um tesouro revelado por 
              Kyabje Dilgo Khyentse Rinpoche (1910-1991). Essa prática foi introduzida no Chagdud 
              Gonpa após, em 1987, o pró...
            </span>
            <span class="d-block mt-2"><a class="link" href="{% url 'khadroling:event-detail' 3 %}">Saiba mais</a></span>
            </div>
          </div>
          <div class="col-md-4 col-sm-12 d-flex mb-5">
            <img class="rounded thumbEvento" src="{% static 'khadro_ling/images/natal.jpg' %}" width="100%">
          </div>

          <div class="d-flex flex-wrap mb-5 col-md-4 offset-md-2 col-sm-12 justify-content-center">
            <div class="data col-md-2 mb-2">
              <p class="diaData">11</p>
              <p class="mesData">ago</p>
            </div>
            <div class="nomeEvento col-10">
            <h4 class="titulo"> Treinamento Vajrayana </h4>
          <b class="mb-2"></b>
            </div>
            <div class="ml-4"> 
            <span>
              Retiro de 2 semanas com JTR.
            </span>
            <span class="d-block mt-2"><a class="link" href="{% url 'khadroling:event-detail' 4 %}">Saiba mais</a></span>
            </div>
          </div>
          <div class="col-md-4 col-sm-12 d-flex mb-5">
            <img class="rounded thumbEvento" src="{% static 'khadro_ling/images/natal.jpg' %}" width="100%">
          </div> -->


        </div>
      </div>
  </div>
  </div>
  </div>
</main>

{% endblock %}