
.bannerSobre {
  height: 20em;
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-size: cover;
}

.menu {
  padding: 25px 0px;
  margin-bottom: 0px;
}

.nav-pills .nav-link.active {
  color: #474848 !important;
  background-color: #fff !important;
  font-weight: 800;
  font-size: 1.2em;
  border-bottom-width: 2px !important;
  border-bottom-color: #d26e4b !important;
}


.sobreEvento {
  padding: 8rem 0;
}

.nav-pills .nav-link {
  color: #6f6e6e;
}

.menuTabs {
  height: 200px;
  padding-right: 0px !important;
}

.cardOferendas  {
  border-style: none !important;
  border-right-style: solid !important;
  border-right-width: 1px !important;
  padding-right: 30px;
}

.card-img-top {
  object-fit: cover;
    height: 170px;
}

.carouselOferendasMobile {
  display: none;
}

.btnSobre {
  font-size: 0.8em !important;
}

.colDireita {
  border-right: solid 1px #ccc;
}

.colEsquerda {
  border-left: solid 1px #ccc;
}

.imgChagdud, .imgRinpoche, .imgSherab {
  object-fit: cover;
  object-position: 80% 0;
}

.imgChagdud {
  height: 510px;
}
.imgRinpoche {
  height: 480px;
}
.imgSherab {
  height: 380px;
  object-position: 60% 0;
}

.data {
  border: solid 2px #ccc;
  border-radius: 10px;
  padding-top: 20px;
  padding-bottom: 2px;
  padding-right: 40px !important;
  height: 65px;
}

.diaData {
  font-size: 1.4em;
  font-weight: 800;
  line-height: 0.2em;
}

.mesData {
  line-height: 0.2em;
}

.thumbEvento {
  height: 200px;
  object-fit: cover;
}

.tituloEvento {
  margin-top: 100px;
}

.imgEvento {
  margin-top: -160px;
  border: 2px solid #fff;
}


.linkAcomodacao, .linkAcomodacao:active .itemAcomodacao .nav-link.active {
  font-size: 0.7em !important;
}

.acomodacoes {
  font-size: 0.8em;
}

.oferendaTab {
  font-size: initial !important;
}

.imgOferenda {
  height: 560px;
  width: 100%;
  object-fit: cover;
}

.imgOferenda2 {
  height: 560px;
  width: 100%;
  object-fit: cover;
  object-position: 77%;
}

.setaEsquerda {
  margin-right: 155px;
}

.setaDireita {
  margin-left: 155px;
}

.navOferendas {
  color: #444;
}



@media screen and (max-width: 800px) {
  .tab-content {
    text-align: center !important;
  }
  .carouselOferendasMobile {
    display: block;
  }

  .carouselOferendas {
    display: none;
  }

  #eventos {
    text-align: center;
  }

  .imgEvento {
    margin-top: 5px;
  }

  .inverteMobile {
    flex-direction: column-reverse;
  }

  .sobre {
    padding: 4rem 0;
}

.imgEvento {
  margin-top: 0px;

}
.sobreEvento {
  padding: 10rem 0;
}


}